extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="advantages")
            div(class="page-information")
                div(class="page-text")
                    h1 Наши преимущества
                    h2 За плечами Стоматологической клиники Перцева более 20 лет стоматологической практики. Наши пациенты высоко ценят длительный опыт работы клиники и доверяют нам.
            div(class="advantages-inner")
                div(class="advantages-container page-text")
                    figure
                        img(src="../dummy/3d_tamograf_p.png", alt="tamograf")
                    figcaption 3D томограф
                div(class="advantages-container advantages-container--text page-text")
                    h3(class="advantages-title") Только современные технологии и зарубежное  оборудование
                    ul
                        li Стоматологические установки C8+ (Sirona Dental Systems, GmbH, Германия)
                        li Рентгеновская система компьютерной томографии GALILEOS 3D (Sirona Dental Systems, GmbH, Германия)
                        li Дентальные цифровые рентгеновские аппараты XGENUS (Olgiate Olona, Italy)
                        li Энтодонтические микроскопы Som (KARL KAPS, Германия)
                        li Лечение под микроскопом
                        li Лечение лазером
                        li Импортные стоматологические материалы
            div(class="advantages-inner")
                div(class="advantages-container advantages-container--text page-text")
                    h3(class="advantages-title") Высокий уровень сервиса и специалистов
                    p Мы постоянно заботимся и работаем над созданием и поддерживанием высокого уровня сервиса.
                    ul
                        li Физиологический комфорт пациентов
                        li Психологический и биоэнергетический комфорт (балланс) пациентов
                        li Четкий алгоритм взаимодействия и общения с пациентами (соблюдение всех деонтологических и этических правил взаимоотношений с пациентами)
                        li Информационное сопровождение пациентов
                        li Высочайший уровень наших специалистов с большой практикой и постоянными стажировками
                        li Работаем без выходных
                div(class="advantages-container page-text")
                    figure
                        img(src="../dummy/process_work.png", alt="tamograf")
                    figcaption Примем врача терапевта
            div(class="advantages-inner")        
                div(class="advantages-container page-text")
                    figure
                        img(src="../dummy/kak_veterantruda.png", alt="tamograf")
                div(class="advantages-container advantages-container--text page-text")
                    h3(class="advantages-title") Все виды протезирования и иплант-сервис
                    ul
                        li Съемные протезы-керамические, бюгельные
                        li Коронки металлокерамические, на основе диоксида циркония, коронки на имплантах
                        li 3 вида имплантов-tag dental (Израиль), ALPHA BIO и NOBEL (США)
            div(class="advantages-inner")        
                div(class="advantages-container advantages-container--text page-text")
                    h3(class="advantages-title") Оснащение клиники
                    ul
                        li Своя собственная зуботехническая лаборатория - позволяет сократить временные издержки для изготовления зубных протезов
                        li Своя стерилизационна-тотальная очистка и дазинфекция инструментов.
                div(class="advantages-container page-text")
                    figure
                        img(src="../dummy/tooth_lab.png", alt="tooth_lab")
                    figcaption Зуботехническая лаборатория
