extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="clinic")
            div(class="page-information")
                div(class="page-text")
                    h1 Клиника
                    h2 Стоматологическая клиника Перцева ориентирована на семейное лечение. В ней проводят весь спектр стоматологических услуг — от сложнейших высокотехнологичных операций по установке имплантатов у взрослого до лечения кариеса у маленького ребенка.
            div(class="clinic-inner clinic-inner--photo")
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/registratura.jpg", alt="registratura")
                    figcaption Ресепшн.
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/cabinet.jpg", alt="cabinet")
                    figcaption Кабинет хирурга.
            div(class="clinic-inner") 
                div(class="clinic-text page-text")
                    h3 Философия
                    p Стоматологическая клиника Перцева  — это клиника, имеющая свою собственную философию и приоритеты соответствовать международным стандартам в области стоматологического лечения.
                    p У нас пациент получит объективную и подтвержденную информацию о последних передовых технологиях дентального лечения, помощь квалифицированных докторов и среднего медицинского персонала, уровень подготовки к первичному приему ассистентов, качество проведения стерилизации инструментов и оборудования, комплексные планы лечения для всех пациентов, поддержание  высокой планки в качестве получения ожидаемых результатов выполняемых докторами лечения.
            div(class="clinic-inner clinic-inner--photo")
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/sterilization.jpg", alt="sterilization")
                    figcaption Стерилизационная.
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/3d_tamograf.jpg", alt="3d_tamograf")
                    figcaption 3D томограф.
            div(class="clinic-inner")
                div(class="clinic-text page-text")
                    p У нас уважают и ценят своих пациентов, которым стараются показать и дать самые высокие стандарты лечения. Мы берём на себя ответственность в отношении постоянного наблюдения за состоянием зубов, динамикой выздоровления, своевременным выявлением и лечением новых заболеваний у своих пациентов. Каждые полгода мы приглашаем пациентов на профилактические осмотры и профессиональную гигиену. Создавая все предпосылки для получения успешного результата, мы также понимаем, что последствия вмешательства в биологическую систему человека не всегда могут быть четко прогнозируемыми, поэтому не даем дешевых обещаний и гарантий. Однако каждый наш пациент может быть уверен, что в случае возникновения проблемы мы всегда поможем ему и его близким. В выходные и нерабочие дни в клиники присутствует дежурный врач и администратор, которые сделают всё возможное, чтобы оказать своевременную и быструю помощь. 
                    p Все это является нашим видением оказания качественного стоматологического лечения, именно лечение, а не услуги, и хотя в современных условиях частная стоматологическая клиника это сочетание бизнеса и медицины мы сделали все для того, чтобы первоочередными были именно медицина и интересы пациентов, а уже потом бизнес.
            div(class="clinic-inner clinic-inner--photo")
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/corridor_clinic.jpg", alt="corridor_clinic")
                    figcaption Холл клиники.
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/process.jpg", alt="process")
                    figcaption Процесс работы отопеда.
            div(class="clinic-inner")
                div(class="clinic-text page-text")
                    h3 История
                    p ООО «Стоматологическая клиника Перцева C.C.» была основана в 1996 году доктором Перцевым  Сергеем  Станиславовичем. Первое помещение клиники состояло всего из 1 кабинета, арендуемого в обычной школе, затем появилось собственные площади, рассчитанные на 3 кабинета, были наняты новые сотрудники, но уже через некоторое время спрос на услуги специалистов Стоматологической клиники Перцева стал превышать предложение, и произошло расширение предприятия. В 2012 году было построено новое 3-х этажное здание, оборудованное новейшим немецким и итальянским стоматологическим оборудованием. Был нанят новый персонал в лице высококвалифицированных специалистов с большим  опытом и своей клиентской базой.
                    p Клиника является средоточием оказания комплексного спектра стоматологических услуг, выполняемых на базе  инновационного оборудования нового поколения. Клиника оснащена рентгеновским кабинетом, стерилизационной, кабинетами с современными немецкими стоматологическими установками, регистратурой, удобным холлом для ожидания пациентов и их сопровождающими, где можно почитать журналы и немного расслабиться перед приемом у доктора.
                    p Территория клиники оснащена собственной стоянкой, как для пациентов, так и для персонала.
            div(class="clinic-inner clinic-inner--photo")
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/clinic_house.jpg", alt="clinic_house")
                    figcaption Здание клиники.
                div(class="clinic-container page-text")
                    figure
                        img(src="../dummy/microscope.jpg", alt="microscope")
                    figcaption Микроскоп.
