extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="doctor-detail")
            div(class="page-information")
                div(class="page-text")
                    span(class="page-tag") Врачи
                    h1 Гладун Оксана Валентиновна
                    h2 Заведующая терапевтическим отделением клиники, специалист работы с микроскопом
            div(class="doctor-detail-inner bg-lines-horizontal")
                div(class="doctor-detail-container page-text")
                    figure
                        img(src="../dummy/gladun.jpg", alt="gladun")
                    figcaption
                        i Стоматология это часть моей жизни, возможно большая её часть, сфера знаний и навыков-дело, которое я люблю и отдаюсь без остатка.
                div(class="doctor-detail-info page-text")
                    h3 Образование
                    ul
                        li Первый Ташкентский государственный медицинский институт, окончила в 2002 году по специальности «Стоматология». Диплом № 275168 от 18.06.2002г. Рег.№ 53624.
                        li ГОУ ВПО НижГМА Росздрава, прошла профессиональную переподготовку по стоматологии терапевтической.
                        li Диплом о профессиональной переподготовке ПП-I № 046188 от 11.11.2006г., рег. № 160.
                        li Московский государственный медико-стоматологический университет, окончила 28.06.2004г. по специальности стоматология детская. Удостоверение к диплому о базовом высшем медицинском образовании № 275168, рег. № 275
                    h3 Повышение квалификации
                    ul
                        li Свидетельство о прохождении повышения квалификации, рег. № 2525. ГОУ ВПО НижГМА Минздравсоцразвития России от 18.04.2011г. по 13.05.2011г. (144 час.), тема: «Профилактика кариеса».
                        li Сертификат А №1806870, рег. № 1747 от 11.12.2003г., выдан ГОУ ВПО Тверская ГМА Минздрава России по специальности «Стоматология».
                        li Сертификат А № 3025813, рег. № 43870 от 11.11.2006г., выдан ГОУ ВПО НижГМА Росздрава, по специальности «Стоматология терапевтическая», сертификат подтвержден  13.05.2011г., действителен до 13.05.2016г.
                        li Свидетельство о повышении квалификации рег. № 3301, в ГБОУ ВПО НижГМА Минздравсоцразвития России от 28.05.2012г. по 22.06.2012г., (144 час.), тема: «Физические методы лечения пульпита у детей».
                        li Сертификат АВ № 0021359, рег. №3611 от 22.06.2012г., выдан ГОУ ВПО НижГМА Минздравсоцразвития России по специальности стоматология детская.
                    div(class="doctor-detail-info-left page-title") Сертификаты
                    div(class="certificate-container")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_1.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_2.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_3.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_4.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_5.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_6.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_7.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_8.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_9.png", alt="sertificate_1")
                        div(class="certificate-img")
                            img(src="../dummy/sertificate_10.png", alt="sertificate_1")
                    div(class="doctor-detail-info-left page-title") Расписание
                    div(class="doctor-detail-timetable")
                        div(class="doctor-detail-timetable-item")
                            span(class="timetable-week") Пн, вт, чт
                            span(class="timetable-time") 08:00 &#8212; 14:00
                        div(class="doctor-detail-timetable-item")
                            span(class="timetable-week") Пт, сб
                            span(class="timetable-time") 15:00 &#8212; 21:00
                    button(type="button",class="button button--green doctor-enroll open-form", data-lazymodal="form-reception.html") Записаться на прием
