extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        form(class="form", action="#", data-success="result.html")
            div(class="form-title") Заказать звонок
            div(class="form-row")
                label(for="name", class="form-label")
                    span(class="form-label-text") Представьтесь
                div(class="form-holder")
                    span
                    input(type="text", id="name", name="name", class="form-item input", required, data-error="Укажите Ваше имя", aria-required="true")
            div(class="form-row")
                label(for="name", class="form-label")
                    span(class="form-label-text") Ваш телефон
                div(class="form-holder")
                    span
                    input(type="text", id="mobile", name="mobile", class="form-item input", required, data-error="Укажите Ваше телефон", aria-required="true", data-pattern="mobileRU", data-number="+7 (000) 000-00-00")
            div(class="form-row")
                div(class="form-privacy-policy")
                    | Нажимая кнопку отправить, вы даете согласие на обработку персональных данных и соглащаетесь с 
                    a(href="#", class="link link--green", target="_blank") политикой конфиденциальности.
            div(class="form-row form-row--button")
                button(type="submit", class="button button--green") Отправить
