extends ../templates/base

block content
    div(class="main-slider")
        div(class="main-slider-items slick-slider")
            div(class="main-slider-item")
                div(class="main-slider-item-info")
                    div(class="main-slider-item-title") 
                        | Все виды 
                        br 
                        | протезирования
                    div(class="main-slider-item-subtitle") Мы обязательно подберем то, что подойдет именно в вашем случае
                div(class="main-slider-item-img", style="background-image: url(../dummy/grandmother.png)")
            div(class="main-slider-item")
                div(class="main-slider-item-info") 
                    div(class="main-slider-item-title") 
                        | Имплантация зубов –  
                        br 
                        | это чувство здоровья и
                        br
                        | комфорта на всю жизнь!
                    div(class="main-slider-item-subtitle") Самый современный и эстетичный способ восстановления утраченных зубов
                div(class="main-slider-item-img", style="background-image: url(../dummy/ancle.png)")
            div(class="main-slider-item")
                div(class="main-slider-item-info") 
                    div(class="main-slider-item-title") 
                        | Простой путь к 
                        br 
                        | здоровью полости рта
                    div(class="main-slider-item-subtitle") Уровень ведущих мировых клиник. Инновационное техническое оборудование
                div(class="main-slider-item-img", style="background-image: url(../dummy/girl.png)")
        div(class="slick-arrow-container")
            span |
    div(class="page-inner page-inner--w1")
        div(class="intro")
            div(class="intro-personal")
                div(class="intro-personal-photo")
                    img(src="../dummy/director_percev.png")
                div(class="intro-personal-data")
                    span(class="data-name") Перцев Сергей Станиславович
                    span(class="data-prof") Директор, главный врач клиники
            div(class="intro-info") Наша команда, под руководством главного врача-стоматолога с многолетним опытом Сергея Станиславовича Перцева, состоит из специалистов, которые справятся с работой любого объема и степени сложности.
    div(class="page-inner page-inner--w1")
        div(class="clinics info")
            div(class="clinics-info")
                div(class="tag") клиника
                div(class="title") Стоматологическая клиника Перцева в Иваново
                div(class="description") Клиника оснащена рентгеновским кабинетом, стерилизационной, кабинетами с современными немецкими стоматологическими установками, регистратурой, удобным холлом для ожидания пациентов и их сопровождающими, где можно почитать журналы и немного расслабиться перед приемом у доктора.
            div(class="clinics-container")
                img(src="../dummy/microscope.png", alt="")
