extends ../templates/base

block content
    div(class="main-slider")
        div(class="main-slider-items slick-slider")
            div(class="main-slider-item")
                div(class="main-slider-item-title") 
                    | Все виды 
                    br 
                    | протезирования
                div(class="main-slider-item-subtitle") Мы обязательно подберем то, что подойдет именно в вашем случае
                div(class="main-slider-item-img", style="background-image: url(../dummy/grandmother.png)")
            div(class="main-slider-item")
                div(class="main-slider-item-title") 
                    | Все виды 
                    br 
                    | протезирования
                div(class="main-slider-item-subtitle") Мы обязательно подберем то, что подойдет именно в вашем случае
                div(class="main-slider-item-img", style="background-image: url(../dummy/girl.png)")
            div(class="main-slider-item")
                div(class="main-slider-item-title") 
                    | Все виды 
                    br 
                    | протезирования
                div(class="main-slider-item-subtitle") Мы обязательно подберем то, что подойдет именно в вашем случае
                div(class="main-slider-item-img", style="background-image: url(../dummy/grandmother.png)")
        div(class="slick-arrow-container")
            span |
        
    
