extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="legal-information")
            div(class="page-information")
                div(class="page-text")
                    h1 Правовая информация
            div(class="legal-information-inner bg-lines-horizontal")
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Лецензия ООО &#171;Стоматологическая клиника Перцева С.С.&#187;
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Адреса и телефоны вышестоящих организаций
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Политика обработки персональных данных ООО &#171;Стоматологическая клиника Перцева С.С.&#187;
                    div(class="arrow-icon") 
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Свидетельство о постановке на учет в налоговом органе
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Правила записи на первичный прием
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Перечень жизненно необходимых и важнейших лекарственных препаратов
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
            
                a(href="#", class="link link--bold legal-information-item")
                    div(class="legal-information-item-name") Права и обязанности граждан РФ в сфере здравохранения
                    div(class="arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
