extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="news-detail")
            div(class="page-information")
                div(class="page-text")
                    span(class="page-tag") новости
                    h1 Специалисты клиники повышают квалицикафию в Москве
                    span(class="page-date") 12 мая 2017 
            div(class="news-detail-text page-text") 
                p Специалисты нашей клиники продолжают совершенствовать свои профессиональные навыки. Елена Гудкова, врач пародонтолог, детский — стоматолог клиники прошла обучение в Москве. Идея открытия именно такой клиники возникла тогда, когда я поняла, что отдаю очень много времени своей работе и очень сильно не хватает тепла, уюта и комфорта; хотелось, чтобы Вы, приходя в клинику, забывали все «прелести» предстоящего вмешательства, расслабились и ощутили особую энергетику нашего офиса. Excellence dental юдей, ценящих свою индивидуальность и комфорт, несогласных на компромисс, когда речь идет о своем здоровье. 
                p Здоровье является одной из главных составляющих нашей жизни! Это то основание, которое дает нам возможность вести успешную и счастливую жизнь. Какой родитель не желает видеть своего ребенка счастливым?! Думаю, таковых нет! Когда мы видим, как наш малыш улыбается и звонко смеется, активно развивается и познает окружающий мир, тогда и нам становится хорошо. Говоря о Здоровье, мы подразумеваем не только его физиологическую сторону, но и психологическую. 
