extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="news")
            div(class="page-information")
                div(class="page-text")
                    span(class="page-tag") клиника
                    h1 Новости
            div(id="news-items-load", class="news-items")
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 12 мая 2017
                    div(class="news-title") XIV Всероссийский денталогический форум в Сочи
                    div(class="news-text") В выставочном комплексе "Ленэкспо" прошел симпозиум "Федеральная программа профилактики стоматологических заболеваний"
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 23 июня 2017
                    div(class="news-title") Всемирный день улыбки
                    div(class="news-text") От всей диши желаем, чтобы ваши паценты широко улыбались и искренне благодарили своих докторов! Вы дарите людям здоровье и красоту!
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") У нас юбилей!
                    div(class="news-text") А у нас снова юбилей! на этот раз это внушительная цифра 55 000!!! Именно столько пациентов зарегистрировано в нашей клиентской базе на сегодняшний день. Скульптурной композиции "От улыбки..." пройдет ежегодный праздник.
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") Специалисты клиники повышают квалификацию в Москве
                    div(class="news-text") Специалисты нашей клиники продолжают совершенствовать свои профессиональные навыки. Елена Гудкова, врач пародонтолог, детский - стоматолог клиники прошла обучение в Москве
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 12 мая 2017
                    div(class="news-title") XIV Всероссийский денталогический форум в Сочи
                    div(class="news-text") В выставочном комплексе "Ленэкспо" прошел симпозиум "Федеральная программа профилактики стоматологических заболеваний"
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 23 июня 2017
                    div(class="news-title") Всемирный день улыбки
                    div(class="news-text") От всей диши желаем, чтобы ваши паценты широко улыбались и искренне благодарили своих докторов! Вы дарите людям здоровье и красоту!
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") У нас юбилей!
                    div(class="news-text") А у нас снова юбилей! на этот раз это внушительная цифра 55 000!!! Именно столько пациентов зарегистрировано в нашей клиентской базе на сегодняшний день. Скульптурной композиции "От улыбки..." пройдет ежегодный праздник.
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") Специалисты клиники повышают квалификацию в Москве
                    div(class="news-text") Специалисты нашей клиники продолжают совершенствовать свои профессиональные навыки. Елена Гудкова, врач пародонтолог, детский - стоматолог клиники прошла обучение в Москве
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 12 мая 2017
                    div(class="news-title") XIV Всероссийский денталогический форум в Сочи
                    div(class="news-text") В выставочном комплексе "Ленэкспо" прошел симпозиум "Федеральная программа профилактики стоматологических заболеваний"
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 23 июня 2017
                    div(class="news-title") Всемирный день улыбки
                    div(class="news-text") От всей диши желаем, чтобы ваши паценты широко улыбались и искренне благодарили своих докторов! Вы дарите людям здоровье и красоту!
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") У нас юбилей!
                    div(class="news-text") А у нас снова юбилей! на этот раз это внушительная цифра 55 000!!! Именно столько пациентов зарегистрировано в нашей клиентской базе на сегодняшний день. Скульптурной композиции "От улыбки..." пройдет ежегодный праздник.
                    div(class="news-arrow-icon")
                        include ../../prod/svg/arrow_left_green.svg
                a(href="#", class="link news-item bg-lines-horizontal")
                    div(class="news-date") 30 июня 2017
                    div(class="news-title") Специалисты клиники повышают квалификацию в Москве
                    div(class="news-text") Специалисты нашей клиники продолжают совершенствовать свои профессиональные навыки. Елена Гудкова, врач пародонтолог, детский - стоматолог клиники прошла обучение в Москве
            div(class="load")
                a(href="news-load.html", data-container="#news-items-load", class="link load-more")
