extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-404 page-information")
            div(class="page-404-holder")
                img(src="../i/icons/logo.png")
            div(class="page-text")
                h1 404
                h3 Страница не найдена
                h4 Вернуться 
                    a(href="home.html", class="link link--black-inverse") на главную страницу 
                    | сайта.
                div(class="page-404-license")
                    p Лицензия на осуществление медицинской деятельности № 000447199 от 30 января 2004 года.
                    p &#169; 2017 Все права защищены. Стоматологическая клиника Перцева. Иваново
