extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="price")
            div(class="page-information")
                div(class="page-text")
                    h1 Цены
                    h2 На сегодняшний день наши цены являются отражением качества предоставляемых услуг нашей клиники. Мы работаем с ДМС*, а также по безналичному расчету**.
                    p * СОГАЗ, РОСГОССТРАХ, ВСК и другие. Уточняйте у администратора.
                    p ** Перевод средств на расчетный счет нашей клиники через банк.
            div(class="accordion")
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Терапия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Протезирование
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Имплантация
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Хирургия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Ортодонтия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение лечебной прокладки при глубоком кариесе
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Детская стоматология
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение лечебной прокладки при глубоком кариесе
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                div(class="accordion-item bg-lines-horizontal")
                    div(class="accordion-header") 
                        div(class="accordion-text") Профессиональная гигиена
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="accordion-content-title") Общие
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация врача-стоматолога терапевта
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Консультация (повторный приём)
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Осмотр
                            span(class="service-price") 1470.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия аппликационная
                            span(class="service-price") 150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Анестезия инъекционная (инфильтрационная, проводникова)
                            span(class="service-price") 780.-
                        div(class="accordion-content-title") Диагностика
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на визиографе
                            span(class="service-price") 430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок ОПТГ (панорамный снимок)
                            span(class="service-price") 1200.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок)
                            span(class="service-price") 3350.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный втечении 1 года
                            span(class="service-price") 0.-
                        div(class="accordion-content-service")
                            span(class="service-name") Снимок на компьютерном томографе (3д снимок), повторный, сделанный по истечению 1 года
                            span(class="service-price") 1750.-
                        div(class="accordion-content-title") Композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс ФИл на депульпированные зубы под коронку
                            span(class="service-price") 2400.-
                        div(class="accordion-content-service")
                            span(class="service-name") Стеклоиномерный цемент Витример, Фуджи, Кемфил
                            span(class="service-price") 2440.-
                        div(class="accordion-content-title") Светоотверждающие композиционные  материалы
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Флау
                            span(class="service-price") 3900.-
                        div(class="accordion-content-service")
                            span(class="service-name") Квикс Фил (только на жевательную группу зубов)
                            span(class="service-price") 4300.-
                        div(class="accordion-content-service")
                            span(class="service-name") Поинт 4
                            span(class="service-price") 4430.-
                        div(class="accordion-content-service")
                            span(class="service-name") Тетрик Керам, Эстэт Икс
                            span(class="service-price") 6150.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение лечебной прокладки при глубоком кариесе
                            span(class="service-price") 630.-
                        div(class="accordion-content-service")
                            span(class="service-name") Наложение мышьяковистой пасты с временной пломбой
                            span(class="service-price") 960.-
                        div(class="accordion-content-service")
                            span(class="service-name") Герметизация фиссур светоотверждаемым композиционным материалом (1 зуб)
                            span(class="service-price") 2820.-
                    
