extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        form(class="form form-result page-text", action="#")
            a(href="/home.html", class="header-logo-holder")
                img(src="../svg/logo.svg")
            h3 Спасибо за ваше обращение
            h4 Ваша зявка принята, в ближайшее время с вами свяжется наш администратор.
