a(href="#", class="link reviews-item", data-lazymodal="reviews-item.html")
    div(class="reviews-date") 12 мая 2017
    div(class="reviews-name") Кортунова Н.В
    div(class="reviews-text") Отличная стоматология! Лечились у Омельченко Ирины. Теперь если что случится с зубками ребенка, то только сюда)) Нашли подход к моему ребенку, вылечили зубки очень быстро, еще и подарочки ребенку под конец лечения.
a(href="#", class="link reviews-item", data-lazymodal="reviews-item.html")
    div(class="reviews-date") 23 июня 2017
    div(class="reviews-name") Мулина Г.Е
    div(class="reviews-text") Здравствуйте! Очень благодарна замечательному детскому стоматологу Целовальниковой Нине Сергеевне за лечение зубов нашей маленькой Маше.  Без слез, без страха, без боли 3-х летний ребенок выдержал лечение пульпита в течение 40 минут! Спасибо за ваше внимание.
