extends ../templates/base

block content
    div(class="link reviews-item")
        div(class="reviews-date") 12 мая 2017
        div(class="reviews-name") Кортунова Н.В
        div(class="reviews-text") Отличная стоматология! Лечились у Омельченко Ирины. Теперь если что случится с зубками ребенка, то только сюда)) Нашли подход к моему ребенку, вылечили зубки очень быстро, еще и подарочки ребенку под конец лечения.
