extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="schedule")
            div(class="page-information")
                div(class="page-text")
                    h1 Расписание
                    div(class="schedule-container sticky")
                        div(class="schedule-list")
                            h3 Все врачи работают посменно.
                            div(class="schedule-item")
                                div(class="schedule-item-icon green") 1-я смена
                                div(class="schedule-item-time") 08:00 &#8212; 14:00
                            div(class="schedule-item")
                                div(class="schedule-item-icon darkgreen") 2-я смена
                                div(class="schedule-item-time") 15:00 &#8212; 21:00
                        div(class="schedule-week")
                            div(class="schedule-day") пн
                            div(class="schedule-day") вт
                            div(class="schedule-day") ср
                            div(class="schedule-day") чт
                            div(class="schedule-day") пт
                            div(class="schedule-day") сб

            div(class="accordion")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Терапия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Протезирование
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Имплантация
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Хирургия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Ортодонтия
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Детская стоматология
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                div(class="accordion-item")
                    div(class="accordion-header") 
                        div(class="accordion-text") Профессиональная гигиена
                        span(class="accordion-arrow")
                    div(class="accordion-content")
                        div(class="schedule-pers")
                            div(class="schedule-name") Баранок Василий Михайлович
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Жукова Марина Сергеевна
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                        div(class="schedule-pers")
                            div(class="schedule-name") Гладун Оксана Валентиновна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--empty")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--empty")
                        div(class="schedule-pers")
                            div(class="schedule-name") Курочкина Елена Сергеевна
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
                            span(class="schedule-point schedule-point--darkgreen")
                            span(class="schedule-point schedule-point--green")
