extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="services-element")
            div(class="page-information")
                div(class="page-text")
                    tag ортодонтия
                    h1 Брекеты
                    h2 Опытные ортодонты клиники обладают арсеналом современного оборудования и своременных методик, позволяющих сделать прикус правильным не только у детей, но и у взрослого человека
            div(class="services-element-inner")
                div(class="services-element-preview page-text")
                    figure
                        img(src="../dummy/brekets_tooth.png", alt="Брекеты для зубов")
                    figcaption 
                        i Брекеты — система маленьких замочков, фиксирующихся на поверхности зуба специальным материалом. Для каждого зуба эти замки индивидуальны. Дуга, выполненная из особого сплава, вставляется в пазы брекетов и работает таким образом, что оказывает слабое давление на неровно расположенные зубы.
                div(class="services-element-information")
                    div(class="services-element-information-item page-text")
                        h3 Кому это нужно
                        p Коррекция зубного ряда возможно брекетами различного типа. Назначение осуществляет лечаший врач, исходя из пожеланий пациента, особенностей его организма. Стоимость  брекетов зависит от материала (металл, пластик, керамика), конструкции из крепления. Можно убедиться в доступности цены на брекеты в Долгопрудном, записавшись на первичную консультацию.
                    div(class="services-element-information-item page-text")
                        h3 Как устанавливаются брекеты
                        p Фиксация брекет-системы - точный выверенный процесс: начинается с диагностики, расчетов и определения местоположения каждого замочка на зубе. ЗАдача ортодонта заключается в том, чтобы максимально точно приклеить брекет на эмаль в соответствии с предусмотренной для него позицией. Почему это важно? Каждый замочек несет определенную &#171;программу&#187;: для правильно ее работы важно, чтобы установку брекетов была точной. Таким образом достигаются результаты ортодонтического лечения - исправляется прикус и выравнивается зубной ряд. Индивидуальные системы - лингвильные - оснащены специальной капой, в которой они точно расоплогаются согласно выстроенной компьютером модели. Ортодонту нужно только надеть капу на зубной ряд
                    div(class="services-element-information-item page-text")
                        h3 Приемущества зубных имплантов
                        ul
                            li Максимально физиологический, современный способ востановления утраченных зубов
                            li Не обтачиваются и не дупульпируются соседние с дефектом зубы
                            li Лучшая адаптация протезирования
                            li Длительные срок службы, имплант может прослужить всю жизнь
                    div(class="services-element-information-item page-text")
                        h3 4 шага восстановления зубов
                        ol
                            li
                                div(class="page-numbered-list-subtitle") 1-й хирургически этап
                                div(class="page-numbered-list-text") Установка имплантов под местной анестезией, назначения послеоперационного лечения, контрольная 3Д-диагностика (при необходимости), назначение на дальнейшее посещение.
                            li
                                div(class="page-numbered-list-subtitle") Протезирование на имплантах
                                div(class="page-numbered-list-text") На готовые импланты устанавливается металокерамическая коронка. Определяется дальнейшее плановое наблюдение пациентов (раз в 6-12 месяцев).
                            li
                                div(class="page-numbered-list-subtitle") Консультация у специалиста с 3Д-диагностикой
                                div(class="page-numbered-list-text") Диагностика проводится в клинике, составление плана лечения (стоимость, этапы проводимых операций, при необходимости консультация смежных специалистов, в частности врача-ортопеда с целью  составления ортопедического плана лечения).
                            li
                                div(class="page-numbered-list-subtitle") Установка формирователей десны: 2-й хирургический этап
                                div(class="page-numbered-list-text") Проводится под местной анестезией на верхней челюсти через 5-6 месяцев, на нижней – 4-5 месяце, назначение на дальнейшее ортопедическое лечение.
                    div(class="services-element-information-background")
                        div(class="services-element-information-item page-text")
                            h3 Стоимость услуг
                            div(class="services-element-price page-text")
                                span(class="price-services") Консультация
                                span(class="price") 500.-
                                span(class="price-services") Диагностика (анализ диагностических моделей)
                                span(class="price") 1470.-
                                span(class="price-services") Лингвальные (внутренние брекеты)
                                span(class="price") 50 000.-
                                span(class="price-services") Лингвальные (внутренние, невидимые) брекеты STB
                                span(class="price") 60 000.-
                                span(class="price-services") Установка брекет-системы 1 челюсть
                                span(class="price") 14 900.-
                    a(href="#", class="link button button--gray", target="_blank") Записаться на прием
                        
