extends ../templates/base

block content
    div(class="services-page")
        div(class="services-title") Услуги
        div(class="services-blocks")
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/tooth_broken_black.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Терапия
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Лечение всех видов кариеса
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Терапия с применением лазера
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Эстетическая реставрация
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Лечение пульпита и периодонтита под микроскопом
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Шинирование
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/tooth_loupe_black.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Диагностика
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Компьютерная томография
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Микроскоп
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/tooth_fake.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Имплантация
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Имплант-сервис Tag Dental (Израиль) Alpha Bio(Израиль), Nobel (США)
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/perfect_tooth.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank")
                    | Профессиональная  
                    br 
                    | гигиена
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Реминорализующая терапия
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") AIR FLOW
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Снятие зубных отложений
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Vector-терапия
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Покрытие фтористыми препаратами
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Отбеливание
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/forceps_black.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Хирургия
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Удаление зубов любой
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Хурургия с применением лазера
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/tooth_brekets.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Ортодонтия
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Бузлигатурные брекет-системы
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Безлигатурные керамические брекет-системы
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Трейнеры
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Элайнеры
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/tooth_brekets.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Протезирование
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Металлокерамические конструкции
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Коронки и мостовидные протезы из диоксида циркония
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Виниры
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Коронки на имплантатах на основе диоксида циркония
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Съемное протезирование
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/apple.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Детская стоматология
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Психологическая подготовка и адаптация ребенка
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Лечение кариеса молочных зубов
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Лечение пульпита и периодонтита молочных зубов
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Удаление молочных зубов
            div(class="services-block")
                div(class="services-block-img")
                    img(src="../svg/apple.svg", alt="")
                a(href="#", class="link link--green services-block-title", target="_blank") Оториноларингология
                div(class="services-block-list")
                    ul
                        li 
                            a(href="#", class="link--decoration services-block-item", target="_blank") Косультации врача-оториноларингология
