extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="services-section")
            div(class="page-information")
                div(class="page-text")
                    h1 Терапия
                    h2 Лечение зубов было и по сей день остается, пожалуй, наиболее востребованным направлением в стоматологии. Мы предотвращаем кариес еще на стадии белого пятна и приходим на помощь при лечении глубокого кариеса. 
            div(class="services-section-description")
                div(class="description-list page-text")
                    ul
                        li
                            a(href="#", class="link link--decoration-gray", target="_blank") Психологическая подготовка и адаптация ребенка
                        li 
                            a(href="#", class="link link--decoration-gray", target="_blank") Лечение кариеса молочных зубов
                        li
                            a(href="#", class="link link--decoration-gray", target="_blank") Лечение пульпита и периодонтита молочных зубов
                div(class="description-img")
                    img(src="../dummy/woman_dentist.png", alt="")
