include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website",
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/slick.css"
			}, {
				media: "screen",
				href: "../css/sprite.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/scroll-animation.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/lazy-modal.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/jquery.fancybox.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true
			}, {
				media: "screen",
				href: "../css/" + info.code + ".responsive.css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage")

		div(class="page")
			div(class="page-inner page-inner--w1")
				header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
					a(href="/home.html", class="header-logo-holder")
						img(src="../svg/logo.svg")
					div(class="header-menu-holder")
						+menu({
							rootClass: "header-menu",
							items: [
								{
									name: "Клиника",
									linkClass: "link link--green link--opacity active",
									href: "home.html",
									items: [
										{
											name: "О клинике",
											href: "about.html",
											linkClass: "link link--opacity animation-link",
										}, {
											name: "Новости",
											href: "news.html",
											linkClass: "link link--opacity animation-link",
										}, {
											name: "Вакансии",
											href: "vacancies.html",
											linkClass: "link link--opacity animation-link",
										}, {
											name: "Отзывы",
											href: "reviews.html",
											linkClass: "link link--opacity animation-link",
										}
									]
								}, {
									name: "Услуги",
									href: "service.html",
									linkClass: "link link--green link--opacity",
								}, {
									name: "Цены",
									href: "price.html",
									linkClass: "link link--green link--opacity",
								}, {
									name: "Врачи",
									href: "doctors.html",
									linkClass: "link link--green link--opacity",
								}, {
									name: "Контакты",
									href: "contacts.html",
									linkClass: "link link--green link--opacity",
								}
							]
						})
					div(class="header-info-holder")
						a(href="tel:+74932938128", class="link header-mobile", data-fancybox) +7 (4932) 938-128
						span(data-lazymodal="form-mobile-order.html") Обратный звонок
					div(class="header-burger-holder")
						div(class="header-burger")
					
			main(class="page-content")
				block content
					
		div(class="mobile-menu")
			div(class="mobile-menu-background")
			div(class="mobile-menu-container")
				div(class="mobile-menu-items")
					+menu({
						rootClass: "mobile-menu-item",
						items: [
							{
								name: "Клиника",
								linkClass: "link link--brown link--opacity main",
								href: "home.html",
							}, {
								name: "О клинике",
								href: "service.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Преимущества",
								href: "adantages.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Новости",
								href: "news.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Вакансии",
								href: "vacancies.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Отзывы",
								href: "reviews.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Цены",
								href: "price.html",
								linkClass: "link link--brown link--opacity main",
							}, {
								name: "Врачи",
								href: "doctors.html",
								linkClass: "link link--brown link--opacity main",
							}, {
								name: "Расписание",
								href: "schedule.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Контакты",
								href: "contacts.html",
								linkClass: "link link--brown link--opacity main",
							}, 
						]
					})
					+menu({
						rootClass: "mobile-menu-item",
						items: [
							{
								name: "Услуги",
								linkClass: "link link--brown link--opacity main",
								href: "home.html",
							}, {
								name: "3D-диагностика",
								href: "service.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Терапия",
								href: "adantages.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Имплантация",
								href: "news.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Протезирование",
								href: "vacancies.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Профессиональная гигиена",
								href: "reviews.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Хирургия",
								href: "price.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Ортодонтия",
								href: "doctors.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Детская стоматология",
								href: "schedule.html",
								linkClass: "link link--brown link--opacity",
							}, {
								name: "Отоларингология",
								href: "contacts.html",
								linkClass: "link link--brown link--opacity main",
							}, 
						]
					})
					div(class="contacts")
						a(href="tel:+74932938128", class="link link--brown contacts-mobile") +7 (4932) 938-128
						span Обратный звонок
						a(href="#", class="link button button--green") Записаться на прием
				div(class="mobile-menu-address") 
					span Иваново, ул. Крутицкая, д.13
					span ПН-СБ: 8:00 - 21:00 ВС: 8:00 - 15:00
				div(class="mobile-menu-navigations")
					div(class="mobile-menu-search fill-background")
						span
						input(type="text", class="input", placeholder="Поиск по сайту")
						button(type="submit")
					a(href="#",class="link link--brown mobile-menu-information", target="_blank") Официальная информация
					a(href="#",class="link link--brown mobile-menu-version", target="_blank") Версия для слабовидящих
						
			div(class="mobile-menu-close")
		footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
			div(class="page-inner page-inner--w1")
				div(class="footer-license show-data")
					p Лицензия на осуществление медицинской деятельности № 000447199 от 30 января 2004 года.
					p &#169; 2017 Все права защищены. Стоматологическая клиника Перцева. Иваново
					p Публикация материалов с сайоа разрешена с письменного согласия правообладателя.
					a(href="#", class="link link--green link--opacity") Политика ООО &#187;Стоматологическая клиника Перцева С.С.&#171; в отношении обработки персональных данных
				a(href="http://aheadstudio.ru", target="_blank", class="link link--opacity footer-creators", title="Разработка интернет-магазинов")
					div(class="footer-creators-title") Сделанно в
					div(class="footer-creators-name link--green") Aheadstudio
				


		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOtcx9Sm_hunFMGzh4eqe_XRkFUYMWIao&amp;sensor=true"
			}, {
				src: "../js/plugins/slick.min.js"
			}, { 
				src: "../js/plugins/jquery.lazy-modal.js"
			}, { 
				src: "../js/plugins/jquery.fancybox.js"
			}, { 
				src: "../js/" + info.code + ".js"
			}
		])
