@media screen and (min-width: 1024px)
	.page-inner
		min-width 1024px

@media screen and (max-width: 1680px)
	.news-item
		.news-text
			display -webkit-box
			-webkit-line-clamp 4
			-webkit-box-orient vertical
			max-height 100px

@media screen and (max-width: 1440px)
	.news-detail
		.news-detail-full
			.news-detail-slider
				.slick-arrow-container
					bottom -50px


@media screen and (max-width: 1280px)
	.form-call-container
		.lazy-modal-container
			.lazy-modal-close
				right -50px

@media screen and (max-width: 1200px)
	.main-slider-info-container
	.slick-arrow-block
		left 20px
		transform translate(0)

	.main-slider-info-container
		padding 0 0 0 40px

	.slick-arrow-block
		.slick-arrow-container
			left 40px

	.advantages-slider
		.info
			.description
				max-height 170px

	.advantages-mini
		height auto

	.intro
		margin-bottom 80px

	.services
	.map-block
		margin-top 80px


@media screen and (max-width: 1024px)
	.services-section-description
		.description-list
			padding 50px 50px 10px 50px

	.news-detail
		.news-detail-full
			.news-detail-slider
				max-height 310px

	.advantages-slider
		margin-top 50px

@media screen and (max-width: 1000px)
	.page-inner--w1
		padding 0 20px

	.page-header
		.header-menu-holder
			width 350px

	.main-slider
		height 450px

		.main-slider-item-img
			.main-slider-item-img-container
				width 100%
				height 450px

	.main-slider-info-container
		max-width 450px

		.main-slider-item-info
			width auto

		.main-slider-item-title
			font-size 34px
			line-height 38px

		 .main-slider-item-subtitle
			 width auto
			 margin-top 20px
			 font-size 18px
			 line-height 20px
	.intro
		margin-bottom 40px

	.intro-personal
		width auto

		.intro-personal-photo
			width 200px
			margin-bottom 20px

			img
				width 100%

		.intro-personal-data
			padding 0

			.data-name
				font-size 14px

			.data-prof
				font-size 13px

	.intro-info
		padding-left 20px
		padding-top 30px
		margin 0
		font-size 22px
		line-height 35px

	.clinics-info
		padding-left 0
		padding-right 0
		margin-top 30px

	.services
		height 400px
		margin-top 40px

		.services-slider
			margin-top 30px
			padding-left 20px

			.slick-arrow-container
				left 20px

	.map-block
		margin-top 40px

		.map-container
			margin-top 0
			height 400px

	.advantages-mini
		margin-top 40px
		min-height 500px

	.advantages-slider
		height auto
		margin-top 30px
		padding-left 0

		.info
			.title
				font-size 34px
				line-height 38px
			.description
				 width auto
				 margin-top 20px
				 font-size 18px
				 line-height 24px

	.advantages-slider
		.slick-arrow-container
			top 395px
			left 0
			bottom inherit

	.map-block
		.tag
			padding-left 0
		.title
			font-size 34px
			padding-left 0

	.page-information
		padding-left 20px

	.page-text
		h1
			margin-bottom 20px
			font-size 34px
			font-weight 700
			line-height 38px

		h2
			width auto
			margin-top 20px
			font-size 18px
			line-height 24px

	.services-section
		.page-text
			h2
				margin-bottom 45px

	.services-section-description
		.description-list
			ul
				a
					line-height 36px
					font-size 18px

	.services-section-description
		min-height 300px

@media screen and (max-width: 840px)
	.mini-news
		grid-template-columns 1fr 1fr
		padding 60px
		height auto

	.news-item
		min-height 300px

@media screen and (max-width: 768px)
	.page-header
		.header-menu-holder
			display none

	.clinics
		flex-flow column

	.clinics-container
		width 100%

	.clinics-info
		width 100%
		margin-top 0
		margin-bottom 30px

	.advantages-mini
		min-height 100%

	.page-footer
		padding-bottom 60px

		.page-inner
			flex-flow column

		.footer-license
			width 100%
			margin-right 0
			margin-bottom 40px

	.services-section-description
		.description-list
			padding 50px 25px 10px 35px

@media screen and (max-width: 600px)
	.main-slider
		height 400px

		.slick-arrow-block
			top 350px
			left 0

			.slick-arrow-container
				left 20px

	.main-slider-info-container
		padding 0

	.advantages-mini
		flex-flow column

	.advantages-slider
		width 100%

		.advantages-slider-items
			min-height 380px

		.slick-arrow-container
			top 320px

	.advantages-photo-container
		width 100%

	.mini-news
		grid-template-columns 1fr

	.news-item
		min-height 240px

		.news-title
			margin-bottom 10px

		.news-date
			line-height 1
			margin-bottom 5px

	.services-section-description
		flex-flow column
		min-height inherit

		.description-list
			padding 50px 25px 60px 35px
			width 100%

		.description-img
			width 100%
			height 300px

@media screen and (max-width: 500px)
	.main-slider
		.main-slider-item-img
			.main-slider-item-img-container
				box-shadow: none


@media screen and (max-width: 425px)
	.header-info-holder
		.header-mobile
			font-size 14px
			margin-top 10px
			margin-bottom 5px
			text-align center
		span
			font-size 12px
			text-align center
	.intro
		flex-flow column

	.intro-personal
		width 100%

		.intro-personal-photo
			width 60%
			margin 0 auto
			margin-bottom 20px

			img
				width 100%
				min-width: auto

		.intro-personal-data
			text-align center

	.intro-info
		width 100%
		padding-left 0
		font-size 16px
		line-height 25px
		margin-top -20px

	.mini-news
		padding 60px 30px

	.services
		height 260px

		.services-circle
			display none

		.services-slider
			padding-left 0
			width 100%

			.slick-arrow-container
				top 215px
				left 0

	.main-slider
		height 300px
		margin-bottom 20px

		.slick-arrow-block
			top 250px

		.main-slider-item-img
			&:before
				padding-top 300px

			.main-slider-item-img-container
				height 300px

	.main-slider-info-container
		top 40px
		max-width 295px

		.main-slider-item-title
			font-size 24px
			line-height 25px
		.main-slider-item-subtitle
			font-size 18px

	.info
		.tag
			font-size 12px
		.title
			font-size 24px
			line-height 25px
		.description
		.link
			font-size 18px
			line-height 24px

	.advantages-slider
		.info
			.title
				font-size 24px
				line-height 25px
				padding-right 0
			.description
				padding-right 0
				font-size 18px
				line-height 24px

	.news-item
		padding-right 0
