@media screen and (min-width: 1024px)
	.page-inner
		min-width 1024px

		&--max
			min-width 100%

@media screen and (max-width: 1680px)
	.news-item
		.news-text
			display -webkit-box
			-webkit-line-clamp 4
			-webkit-box-orient vertical
			max-height 105px

@media screen and (max-width: 1440px)
	.news-detail
		.news-detail-full
			.news-detail-slider
				.slick-arrow-container
					bottom -50px

	.mobile-menu-items
		margin-bottom 20px

	.mobile-menu-container
		.mobile-menu-address
			margin-bottom 30px

@media screen and (max-width: 1280px)
	.form-call-container
		.lazy-modal-container
			.lazy-modal-close
				right -50px

@media screen and (max-width: 1200px)
	.main-slider-info-container
	.slick-arrow-block
		left 20px
		transform translate(0)

	.main-slider-info-container
		padding 0 0 0 40px

	.slick-arrow-block
		.slick-arrow-container
			left 40px

	.advantages-slider
		padding-bottom 100px

		.slick-arrow-container
			bottom 30px

	.advantages-mini
		height auto

	.intro
		margin-bottom 80px

	.services
	.map-block
		margin-top 80px

	.services-element-information
		.services-element-information-background
			min-width 100%

	.schedule-list
		grid-template-columns 1fr
		margin-bottom 0
		grid-gap 20px 0

	.schedule-pers
		.schedule-name
			font-size 16px

		.schedule-point
			margin-right 50px

	.schedule-week
		.schedule-day
			margin-right 51.5px

@media screen and (max-width: 1024px)
	.services-section-description
		.description-list
			padding 50px 50px 10px 50px

	.news-detail
		.news-detail-full
			.news-detail-slider
				max-height 310px

	.advantages-slider
		margin-top 50px

@media screen and (max-width: 1000px)
	.page-inner--w1
		padding 0 20px

	.page-header
		.header-menu-holder
			width 350px
			margin-right 0

	.main-slider
		height 450px

		.main-slider-item-img
			.main-slider-item-img-container
				width 100%
				height 450px

	.main-slider-info-container
		max-width 450px

		.main-slider-item-info
			width auto

		.main-slider-item-title
			font-size 34px
			line-height 38px

		 .main-slider-item-subtitle
			 width auto
			 margin-top 20px
			 font-size 18px
			 line-height 20px
	.intro
		margin-bottom 40px

	.intro-personal
		width auto

		.intro-personal-photo
			width 200px
			margin-bottom 20px

			img
				width 100%

		.intro-personal-data
			padding 0

			.data-name
				font-size 14px

			.data-prof
				font-size 13px

	.services-slider-item
		.info-link
			width auto

	.intro-info
		padding-left 20px
		padding-top 30px
		margin 0
		font-size 22px
		line-height 35px

	.clinics-info
		padding-left 0
		padding-right 0
		margin-top 30px

	.services
		height 400px
		margin-top 40px

		.services-slider
			margin-top 30px
			padding-left 20px

			.slick-arrow-container
				left 20px

	.map-block
		margin-top 40px

		.map-container
			margin-top 0
			height 400px

	.advantages-mini
		margin-top 40px
		min-height 500px

	.advantages-slider
		height auto
		margin-top 30px
		padding-left 0

		.info
			.title
				font-size 34px
				line-height 38px
			.description
				 width auto
				 margin-top 20px
				 font-size 18px
				 line-height 24px

	.advantages-slider
		.slick-arrow-container
			left 0

	.map-block
		.tag
			padding-left 0
		.title
			font-size 34px
			padding-left 0

	.page-information
		padding-left 20px

	.page-text
		h1
			margin-bottom 20px
			font-size 34px
			font-weight 700
			line-height 38px

		h2
			width auto
			margin-top 20px
			font-size 18px
			line-height 24px
		h3
			font-size 22px
			margin-bottom 10px
		p
			font-size 16px
			line-height 26px
		tag
			font-size 10px

	.news-detail
		.page-text
			h1
				margin-bottom 20px
				font-size 34px
				line-height 38px

		.news-detail-text
			margin-top 40px
			padding-left 20px

	.services-section
		.page-text
			h2
				margin-bottom 45px

	.services-section-description
		.description-list
			ul
				a
					line-height 36px
					font-size 18px

	.services-section-description
		min-height 300px

	.news
		.news-item
			padding-right 15px

			.news-date
				margin-bottom 5px

			.news-title
				margin-bottom 15px

	.reviews-item
		padding 40px 30px 0px 20px
		min-height 300px

		.reviews-date
			margin-bottom 5px

		.reviews-name
			margin-bottom 15px

		&:after
			left 20px

	.clinic-inner
		.clinic-text
			padding-left 0

	.contacts-container
		.contacts-container-items
			padding 50px 0px 0px 20px

	.advantages-inner
		.advantages-container--text
			.advantages-title
				line-height 28px

	.doctors-filter
		padding-left 20px

	.doctors-items
		.doctors-item
			.doctors-item-text
				padding  15px 0 0 10px

				.doctors-item-name
					width auto
					font-size 18px
					line-height 25px

				.doctors-item-position
					width auto
					font-size 16px
					line-height 20px

	.doctor-detail-inner
		.doctor-detail-info
			padding 25px 25px 30px 20px

		.doctor-detail-container
			figure
				margin-bottom 20px

	.mobile-menu
		.mobile-menu-close
			right 20px

	.mobile-menu-container
		padding 0 20px
		box-sizing border-box
		width 100%
		.mobile-menu-navigations
			justify-content flex-start

			.mobile-menu-information
				margin-left 45px

			.mobile-menu-version
				margin-left 65px

	.page-404
		&.page-information
			margin-top 40px

		.page-404-holder
			margin-bottom 60px

		.page-text
			.page-404-license
				margin-top 50px


	.form-call-container
		.lazy-modal-container
			.header-logo-holder
				margin-top 0

			h3
				margin-bottom 20px

			h4
				font-size 14px
				line-height 20px

	.schedule-container
		&.sticky-activate
			padding-left 100px
			width 100%
			box-sizing border-box

@media screen and (max-width: 840px)
	.page-header
		margin-bottom 120px

	.news-item
		min-height 300px

	.news
		.news-items
			grid-template-columns 1fr 1fr 1fr

	.news-detail
		.news-detail-full

			.news-detail-text
				padding 20px 20px 0 30px

			.news-detail-slider
				max-height 400px

				.slick-arrow-container
					bottom 0

	.contacts-container
		.contacts-container-items>span.contacts-title
			margin-bottom 25px
			font-size 24px

		.contacts-container-items>div
			margin-bottom 15px

			span
				font-size 12px
			a
				font-size 16px

	.contacts
		.map-block
			margin-top 20px

	.advantages-inner
		flex-flow column

		.advantages-container
			display none
			width 100%

			&--text
			&--mobile
				width 100%
				display block

			&--mobile
				margin-bottom 15px

				.content-slider-container
					margin-bottom 50px

	.mobile-menu-container
		.mobile-menu-navigations
			flex-flow column
			align-items flex-start

			.mobile-menu-search
				margin-bottom 20px

			.mobile-menu-information
				margin-left 35px
				margin-bottom 20px

			.mobile-menu-version
				margin-bottom 48px
				margin-left 48px

	.mini-news
		grid-template-columns 1fr 1fr
		height auto
		margin-top 100px

		.news-item
			padding 70px 20px 70px 0

			.news-arrow-icon
				bottom 0

@media screen and (max-width: 768px)
	.page-header
		.header-menu-holder
			display none

	.clinics
		flex-flow column

	.clinics-container
		width 100%

	.clinics-info
		width 100%
		margin-top 0
		margin-bottom 30px

	.advantages-mini
		min-height 100%

	.page-footer
		padding-bottom 60px

		.page-inner
			flex-flow column

		.footer-license
			width 100%
			margin-right 0
			margin-bottom 40px

	.services-section-description
		.description-list
			padding 50px 25px 10px 35px

	.services-element-information
		padding-top 20px
		margin-bottom 40px
		padding-left 15px

	.page-text
		ol
			li
				&:before
					top 10px
					left -55px
					font-size 40px

				.page-numbered-list-subtitle
					margin-bottom 5px

				.page-numbered-list-text
					font-size 16px
					line-height 26px

	.services-element-information
		.services-element-price
			grid-template-columns 1fr 95px
			grid-gap 15px 0

		.button
			font-size 16px

	.news
		.news-items
			grid-template-columns 1fr 1fr
			margin-top 80px
			margin-bottom 40px

	.news-detail
		.news-detail-full
			flex-flow column

			.news-detail-slider
				max-height inherit
				width 100%
				margin-bottom 50px

				.slick-arrow-container
					bottom -40px

			.news-detail-text
				width 100%

	.form-reviews-container
		.lazy-modal-container
			width 95%
			margin-left auto
			margin-right auto

	.contacts-container
		grid-template-columns 1fr

		.contacts-container-items
			padding 25px 0px 0px 20px

			&>div.contacts-instagram
				&:after
					right inherit
					left 222px

	.form-call-container
		.lazy-modal-container
			.lazy-modal-close
				right 20px

	.price
		.accordion
			margin-top 20px

	.accordion
		.accordion-item
			height auto

		.accordion-header
			.accordion-text
				padding  20px 0 20px 15px
				font-size 22px

	.accordion
		.accordion-content
			padding 20px 30px

			.accordion-content-title
				font-size 18px

			.accordion-content-service
				margin-bottom 20px
				padding 0 10px

				.service-name
					max-width 90%

	.legal-information-inner
		padding-top 0
		grid-template-columns 1fr
		padding-left 0

		.legal-information-item
			max-width 100%

	.schedule-pers
		.schedule-point
			margin-right 25px

	.schedule-week
		.schedule-day
			margin-right 26.5px

@media screen and (max-width: 650px)
	.services-element-inner
		grid-template-columns minmax(100px, 235px) 1fr

	.doctors-items
		flex-flow column

		.doctors-item[filter]
			width 100%
			flex-flow column
			margin-bottom 40px

			.doctors-item-img
				width 100%
				margin-bottom 10px

			.doctors-item-text
				width 100%
				padding 0

	.doctor-detail-inner
		grid-template-columns 1fr

		.doctor-detail-info
			.certificate-container
				margin-left 0
				grid-template-columns 1fr 1fr 1fr 1fr

			.doctor-detail-info-left
				margin-left 0

			.doctor-detail-timetable
				margin-left 0

			.doctor-enroll
				margin  40px 0 0 0

	.doctor-detail
		.page-information
			h2
				margin-bottom 40px

	.mobile-menu-items
		margin-bottom 40px
		grid-template-columns 1fr 1fr
		grid-gap 40px 0

		.contacts
			grid-column-start 1
			grid-column-end 3

			.contacts-mobile
				font-size 22px
				margin-bottom 10px

			span
				margin-bottom 15px
				font-size 16px

		.mobile-menu-item
			.mobile-menu-item-item-holder
				margin-bottom 15px

				.mobile-menu-item-item
					font-size 16px

					&.main
						font-size 20px

	.mobile-menu-container
		.mobile-menu-address
			width 100%
			margin-bottom 25px

			span
				margin-bottom 5px



@media screen and (max-width: 600px)
	.main-slider
		height 400px

		.slick-arrow-block
			top 350px
			left 0

			.slick-arrow-container
				left 20px

	.main-slider-info-container
		padding 0

	.advantages-mini
		flex-flow column-reverse

	.advantages-slider
		width 100%

		.advantages-slider-items
			min-height 380px

		.slick-arrow-container
			top inherit

	.advantages-photo-container
		width 100%

	.mini-news
		grid-template-columns 1fr

	.news-item

		.news-title
			margin-bottom 10px

		.news-date
			line-height 1
			margin-bottom 5px

	.services-section-description
		flex-flow column
		min-height inherit

		.description-list
			padding 50px 25px 60px 35px
			width 100%

		.description-img
			width 100%
			height 300px


	.services-element-inner
		grid-template-columns 1fr

	.services-element-preview
		figure
			margin-bottom 45px
		figcaption
			padding-left 0
			padding-right 0

	.services-element-information
		padding-left 0px

		.button
			margin-left 0
		.services-element-information-background
			margin-left 0
			padding 45px 30px 50px 20px

	.page-text
		ol
			li
				padding-left 35px
				box-sizing border-box

				&:before
					left 0

		figcaption
			padding-left 0
			line-height 20px
			margin-top 10px

	.news
		.news-items
			grid-template-columns 1fr

	.reviews
		.reviews-items
			grid-template-columns 1fr

		.reviews-add
			top 50px
			bottom inherit
			left 20px
			padding 13px 20px
			font-size 14px

	.clinic-inner
		margin-bottom 25px

		.clinic-container
			width 100%
			margin-bottom 20px

	.clinic-inner--photo
		flex-flow column

	.mobile-menu-container
		.mobile-menu-address
			display block

			span
				margin-bottom 10px
				display block

	.advantages-photo
		.advantages-photo-description
			margin-top 10px

	.schedule-pers
		padding 20px 0

		.schedule-name
			font-size 14px

		.schedule-point
			margin-right 15px

	.schedule-week
		.schedule-day
			margin-right 16.5px

@media screen and (max-width: 500px)
	.page-header
		margin-bottom 50px

	.main-slider
		margin-top 50px

		.main-slider-item-img
			.main-slider-item-img-container
				box-shadow: none


	.page-text
		h1
			font-size 24px
			line-height 25px
		h2
			font-size 18px
			line-height 24px
		h3
			font-size 18px
			margin-top 20px
			margin-bottom 10px
			line-height 20px
		p
			font-size 14px
			line-height 25px
			margin-bottom 15px

		i
			line-height 25px
		ul
			li
				font-size 14px
				line-height 28px
				margin-bottom 10px

		ol
			li
				font-size 14px
				padding-left 25px
				margin-bottom 10px

				&:before
					top 0
					font-size 30px

				.page-numbered-list-subtitle
					line-height 25px
					font-size 16px

				.page-numbered-list-text
					line-height 25px
					font-size 14px

	.services-element-information
		margin-bottom 0
		.services-element-price
			.price-services
				font-size 14px


	.services-section-description
		.description-list
			ul
				a
					line-height 30px
					font-size 16px
	.info
		.tag
			font-size 12px
		.title
			font-size 24px
			line-height 25px
		.description
		.link
			font-size 18px
			line-height 24px

	.advantages-mini
		margin-bottom 30px

	.advantages-slider
		padding-bottom 0
		.info
			.title
				font-size 24px
				line-height 25px
				padding-right 0
			.description
				padding-right 0
				font-size 18px
				line-height 24px

		.slick-arrow-container
			position relative
			bottom 0

		.advantages-slider-items
			margin-bottom 20px

	.form-reviews-container
		.reviews-item
			.reviews-name
				font-size 20px
				margin-bottom 20px

	.advantages
		margin-bottom 0
	.advantages-inner
		margin-bottom 0

		.advantages-container--text
			padding 20px 0
			ul
				li
					line-height 18px

	.services-section
		.page-text
			h2
				margin-bottom 30px

	.services-element
		.page-text
			h2
				margin-bottom 30px

	.services-element-preview
		figure
			margin-bottom 10px


	.news
		.news-item
			min-height auto
			padding-right 0
			margin-bottom 15px

			.news-arrow-icon
				bottom 0

		.news-items
			grid-gap 0
			margin-top 0px
			margin-bottom 20px

	.news-detail
		margin-bottom 0

		.news-detail-text
			margin-top 30px


	.reviews
		.reviews-items
			margin-top 80px

		.reviews-add
			left 0

		.load
			margin-top 0


	.clinic
		.page-information
			margin-bottom 30px

	.contacts
		.page-information
			margin-bottom 30px

	.clinic-inner
		margin-bottom 0

	.advantages
		.page-text
			h2
				margin-bottom 0

	.advantages-inner
		.advantages-container--text
			padding 0
			margin-top 10px
			.advantages-title
				line-height 20px

			ul
				li
					margin-bottom 10px

	.doctors
		.page-information
			margin-bottom 30px

	.doctor-detail
		.page-information
			h2
				margin-bottom 30px

	.doctor-detail-inner
		.doctor-detail-container
			figure
				margin-bottom 10px

			figcaption
				font-size 14px
				line-height 20px
				margin-top 10px

		.doctor-detail-info
			padding 0
			ul
				margin-bottom 0

			.certificate-container
				grid-template-columns 1fr 1fr

			.doctor-enroll
				padding  15px 0 12px 0
				font-size 12px

			.doctor-detail-info-left
				margin-top 30px

	.page-404
		&.page-information
			margin-top 20px

		.page-404-holder
			margin-bottom 40px

		.page-text
			.page-404-license
				margin-top 30px

				p
					font-size 14px
					margin-bottom 10px

				h3
					margin-bottom 20px

			h4
				font-size 14px

	.schedule-pers
		justify-content space-between

		.schedule-name
			width 100%
			text-align center

		.schedule-point
			margin-top 25px

	.schedule-week
		padding 20px 30px 25px 10px

		justify-content space-between

	.schedule-container
		&.sticky-activate
			padding-left 60px

	.advantages-photo-container
		display none

	.doctors-filter
		.doctors-filter-item
			margin-right 8px

@media screen and (max-width: 425px)
	.page-header
		padding 35px 0 30px 0

		.header-info-holder
			display none

	.intro
		flex-flow column

	.intro-personal
		width 100%

		.intro-personal-photo
			width 100%
			margin-bottom 20px

			img
				width 100%
				min-width: auto

	.intro-info
		display block
		width 100%
		padding-top 10px
		padding-left 0
		padding-right 0
		font-size 16px
		line-height 26px

	.mini-news
		padding 60px 30px

	.services
		height auto
		margin-top 0

		.services-slider-items
			margin-bottom 20px

			.services-slider-item-icon
				display block


		.services-circle
			display none

		.services-slider
			padding-left 0
			width 100%

			.slick-arrow-container
				top auto
				bottom -20px
				left 0

	.main-slider
		height 600px
		margin-bottom 20px

		.slick-arrow-block
			top 205px

		.main-slider-item-img
			&:before
				padding-top 600px

			.main-slider-item-img-container
				width 600px
				height 600px
				background-position-x 85px
				background-position-y 230px

	.intro
		margin-bottom 30px

	.advantages-mini
		margin-top 30px

	.mini-news
		margin-top 30px

	.map-block
		margin-top 30px

	.main-slider-info-container
		top 40px
		max-width 295px

		.main-slider-item-title
			font-size 24px
			line-height 25px
		.main-slider-item-subtitle
			font-size 18px

	.page-information
		padding-left 0

	.services-section-description
		.description-list
			padding  35px 15px 35px 30px

	.news-item
		padding 30px 30px 40px 0px

	.services-element-information
		padding-bottom 0

		.services-element-information-background
			padding 30px 20px 30px 20px
			margin-bottom 40px

		.services-element-price
			grid-gap 5px 0

		.button
			font-size 14px
			padding-top 20px
			padding-bottom 16px


	.news-detail
		.page-text
			h1
				font-size 24px
				line-height 25px

		.news-detail-text
			padding-left 0

		.news-detail-full
			.news-detail-text
				padding 0
				padding-top 20px


	.reviews-item
		padding 40px 0px 0px 0px

		&:after
			left 0

	.form-reviews-container
		.reviews-item
			padding 30px 0

	.contacts-container
		.contacts-container-items
			padding-left 0

			&>span.contacts-title
				font-size 20px
				margin-bottom 15px

			&>div
				span
					margin-bottom 15px
					width 85px

				&.contacts-instagram:after
					left 195px

	.accordion
		.accordion-content
			padding 20px 5px

			.accordion-content-service
				padding 0
				.service-price
					font-size 16px
				.service-name
					font-size 14px

		.accordion-header
			.accordion-text
				font-size 18px
				padding 20px 0 20px 5px
			.accordion-arrow
				right 5px

	.doctors-filter
		display flex
		flex-wrap wrap
		justify-content flex-start
		padding-left 0
		margin-bottom 20px

	.doctors-items
		.doctors-item
			.doctors-item-text
				.doctors-item-name
					font-size 16px
					line-height 20px

				.doctors-item-position
					font-size 12px
					line-height 15px

	.form-title
		font-size 24px

	.form-label
		span
			font-size 16px

	.form-privacy-policy
		font-size 10px
		line-height 15px

	.form-row--button
		button
			padding 20px 0px 14px 0px
			font-size 16px


	.mobile-menu-container
		.mobile-menu-navigations
			.mobile-menu-search
				width 100%

	.accordion
		.accordion-header
			.accordion-arrow
				height 15px
				margin-top -5px

	.mini-news
		padding 30px 20px
		.news-item
			padding 30px 20px 70px 0

	.page-footer
		padding-bottom 20px
		padding-top 40px

		.footer-license
			margin-bottom 20px
		p
			margin-bottom 5px
		a
			display inline

	.mobile-menu-items
		grid-template-columns 1fr
		grid-gap 0

		.mobile-menu-item
			order 2

		.contacts
			margin-bottom 40px
			grid-column-end 1
			order 1

	.mini-news-slider
		display block
		padding 20px 0

		.slick-arrow-container
			bottom 55px

	.mini-news
		display none

	.toggle
		display inline-block

	.toggle-container
		display none
		margin-top 5px
		opacity 0
		transform translateY(-50px)

	.contacts-container
		.contacts-container-items>div
			margin-bottom 25px
			flex-flow column
			align-items flex-start

	.form-reviews-container
		.lazy-modal-container
			margin-top 50px

	.schedule-week
		padding 20px 5px 25px 5px

	.schedule-container
		&.sticky-activate
			right 0
			padding-left 20px
			padding-right 20px

			.schedule-list
				grid-gap 10px 0

			h3
				margin-top 0

			.schedule-week
				padding 5px

	.mobile-menu-container
		margin 40px auto 30px auto
