/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)
$colorgreen = #009C3C
$colorgray = #9f9f9f
$colorgrayfone = #f2f6f4
$colordark = #282828

/* fonts */
@font-face
	font-family "ProximaNovaBlack"
	src url("../fonts/ProximaNova-Black.woff") format("woff")

@font-face
	font-family "ProximaNovaLight"
	src url("../fonts/ProximaNova-Light.woff") format("woff")

@font-face
	font-family "ProximaNovaRegular"
	src url("../fonts/ProximaNova-Regular.woff") format("woff")

@font-face
	font-family "ProximaNovaSemibold"
	src url("../fonts/ProximaNova-Semibold.woff") format("woff")

@font-face
	font-family "ProximaNovaBold"
	src url("../fonts/ProximaNova-Bold.woff") format("woff")

/* //fonts */

html
	height 100%
body
	width 100%
	height 100%
	min-height 100vh
	line-height 1
	cursor default

	font-family "ProximaNovaRegular"

/*** //Settings ***/



/*** main style ***/

.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

.page-inner
	position relative
	display block
	margin 0 auto
	max-width 1300px
	box-sizing border-box

	&--w1
		padding 0 60px

	&--w2
		padding 0 120px


.page-header
	display flex
	align-items center
	justify-content: space-between

	width 100%
	height 145px

	padding 30px 0
	margin-bottom 105px

	box-sizing border-box

	.header-logo-holder
		display block
		width 155px

	.header-menu-holder
		display block
		width 430px

	.header-info-holder
		display block
		width 160px

	.header-burger-holder
		position relative
		display block

		width 32px
		height 24px

		cursor pointer

		overflow hidden

		transition transform 0.3s $transitionAnimation


.header-logo-holder
	img
		display block
		width 100%
		max-width 100%


/* menu */
.header-menu-holder
	.header-menu
		display block
		width 100%

.header-menu
	.header-menu-inner
		display flex
		justify-content space-between

	.header-menu-item
		font-size 16px
		letter-spacing 2px
		&.active
			color #000

.header-menu-inner
	.header-menu-item-holder--has-submenu
		position relative
		z-index 10

.header-menu-level1
	position absolute
	left -35px
	top -25px

	display none
	min-width: 160px
	min-height 225px

	padding 70px 35px 8px 35px
	box-sizing: border-box

	background: #fff
	border: 1px solid #e3e3e3

	opacity 0

	transform translateX(-50px)
	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	z-index -10

	.header-menu-level1-item-holder
		margin-bottom 20px

	.animation-link
		opacity 0
		transition-duration 0.6s
		transform translateX(-10px)
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.show
		opacity 1
		transform translateX(0px)

		.animation-link
			opacity 1
			transform translateX(0px)

/* menu */

/** button and link **/
.link
	text-decoration none
	color #000

.link--bold
	font-weight bold

.link--green
	color $colorgreen

.link--brown
	color #4a494a

.link--black-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s $transitionAnimation
	&:hover
		border-bottom-color #000

.link--black-inverse
	border-bottom 2px solid #000
	transition border-bottom-color 0.5s $transitionAnimation
	&:hover
		border-bottom-color transparent

.link--opacity
	opacity 1
	transition opacity 0.3s $transitionAnimation

	&:hover
		opacity 0.6

.link--decoration
	display inline
	box-shadow inset 0 -2.9555px #fff, inset 0 -4px #000
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 -2.9555px #fff, inset 0 -4px transparent

.link--decoration-gray
	display inline
	box-shadow inset 0 -2.9555px $colorgrayfone, inset 0 -4px #000
	transition box-shadow 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 -2.9555px $colorgrayfone, inset 0 -4px transparent

.link--brown-bottom
	border-bottom 1px solid #4a494a
	transition border-bottom-color 0.5s $transitionAnimation
	&:hover
		border-bottom-color transparent


.button
	position relative
	display block
	padding 5px
	box-sizing border-box
	text-align center
	border 1px solid #000

.button--green
	color $colorgreen
	border 1px solid $colorgreen

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation

	overflow hidden

	&:before
		content ""
		position absolute
		top 0
		left 0
		bottom 0
		right 0

		height 180px
		width 250px

		transform rotate(45deg) translateX(-20%) translateY(85%)
		background $colorgreen
		transition transform 0.5s $transitionAnimation

		z-index -10
	&:hover
		color #fff
		border-color $colorgreen

		&:before
			transform rotate(45deg) translateX(-20%) translateY(-15%)



.button--gray
	color #000
	border 1px solid #9b9b9b

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation

	overflow hidden

	&:before
		content ""
		position absolute
		top 0
		left 0
		bottom 0
		right 0

		height 540px
		width 600px

		transform rotate(45deg) translateX(-395px) translateY(350px)
		background #9b9b9b
		transition transform 0.5s $transitionAnimation

		z-index -10

	&:hover
		color #000

		&:before
			transform rotate(45deg) translateX(-190px) translateY(-135px)


.input
	position relative

	font-size 16px
	font-family "ProximaNovaRegular"
	color #4a494a

	&::-webkit-input-placeholder
		font-size 16px
		font-family "ProximaNovaRegular"
		opacity 1
		transition transform 0.8s $transitionAnimation, opacity 0.3s $transitionAnimation

	&:before
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		margin-left -100%

	&:focus
		&::-webkit-input-placeholder
			opacity 0
			transform translateY(50px)


.fill-background
	span
		position absolute
		width 0px
		top 0
		left 0
		bottom 0

		transition width 0.5s $transitionAnimation

/** //button and link **/

/** form **/
.form
	max-width 590px

.form-title
	width 100%
	margin-bottom 35px

	text-align center

	letter-spacing: -1px

	font-weight 600
	font-family ProximaNovaBold
	font-size 36px

.form-row
	width 100%
	margin-bottom 20px

	&--button
		margin-top 28px

		button
			width 100%
			padding 25px 0px 18px 0px
			box-sizing border-box

			font-size 20px
			text-transform: uppercase
			letter-spacing: 3px

			&:before
				width 600px
				height 500px
				trnasform rotate(45deg) translateX(-100%) translateY(55%)

			&:hover
				&:before
					transform rotate(45deg) translateX(-34%) translateY(-27%)


.form-label
	display block
	width 100%
	cursor pointer

	span
		display block
		margin-bottom 15px

		text-align left

		font-size 18px

.form-holder
	position relative
	width 100%

	&>span
		background-color #009c3c

	&.active
		span
			width 100%

		.form-item
			color #fff
			background-color transparent

.form-privacy-policy
	padding-top 10px
	line-height 20px
	box-sizing border-box
	font-size 13px
	text-transform: uppercase

.form-item
	width 100%
	padding: 18px 20px
	box-sizing border-box

	border-bottom 1px solid #959696

	background-color $colorgrayfone

	font-size 20px

	cursor pointer
	color #000

.form-close
	position absolute
	width 20px
	height 20px
	top 0
	left 0
	right 0
	bottom 0
	background-image url(../svg/close.svg)
	background-position center
	background-repeat no-repeat
	background-size contain



// popup //

.form-reviews-container
	.lazy-modal-container
		width 550px
		margin-top 115px
		border 1px solid $colordark

		.lazy-modal-close
			width 20px
			height 20px
			right 27px
			top 27px

	.reviews-item
		padding 22px 30px 20px 25px

		&:hover
			background #fff

		&:after
			content none

		.reviews-name
			font-size 32px
			margin-bottom 33px

		.reviews-date
			margin-bottom 17px

		.reviews-text
			max-height initial

.form-call-container
	.lazy-modal-container
		padding-top 115px
		width 590px

		.lazy-modal-close
			width 20px
			height 20px
			right -305px
			top 12px
// popup //

/** //form **/




/* mobile menu */
.mobile-menu
	position fixed
	left 0
	right 0
	top 0
	bottom 0

	display none

	z-index 1000

	.mobile-menu-background
		position fixed
		right -50px
		top -50px
		display block
		width 50px
		height 50px

		border-radius 50%
		background #fff

		transition transform 0.6s $transitionAnimation
		transition-delay 0.3s


.mobile-menu-items
	width 100%
	display grid
	grid-template-columns 1fr 1fr 1fr

	margin-bottom 80px


	.mobile-menu-item
		display block
		width 100%

		.mobile-menu-item-item-holder
			margin-bottom 30px

			.mobile-menu-item-item
				font-size 18px

				&.main
					font-size 24px
					font-weight 600

	.contacts
		.contacts-mobile
			display block
			margin-bottom 40px

			font-size 24px

			font-weight 600

		span
			display block
			margin-bottom 30px

			font-size 18px
			color $colorgreen

		.button
			width 195px
			padding 15px

.mobile-menu
	.mobile-menu-close
		position absolute
		display none
		top 65px
		right 85px

		width 30px
		height 30px
		opacity 0

		transition opacity 0.3s $transitionAnimation
		transition-duration 3s

		&:after
			content ""

			position absolute
			top 0
			left 0
			right 0
			bottom 0

			background-image url("../svg/close.svg")
			background-position center
			background-repeat no-repeat
			background-size contain

			cursor pointer

			transition transform 0.3s $transitionAnimation

		&:hover
			&:after
				transform rotate(90deg)

.mobile-menu-container
	position relative

	display none
	width 920px

	margin 150px auto 0 auto

	transform translateY(-50px)

	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation
	transition-delay 0s

	opacity 0

	.mobile-menu-address
		display flex
		width 562px
		justify-content space-between
		flex-wrap wrap

		margin-bottom 55px

		span
			font-size 18px
			color #4a494a

	.mobile-menu-navigations
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center

		font-size 16px

		.mobile-menu-search
			position relative
			display block

			span
				background-color $colorgreen

			input
				padding 10px 40px
				box-sizing border-box

			button
				position absolute
				top 8px
				left 2px
				width 25px
				height 25px

				background-image url("../svg/search_loupe.svg")
				background-repeat no-repeat
				background-size contain

				transition transform 0.3s $transitionAnimation


			&:hover
				button
					transform rotate(10deg)

			&.active
				span
					width 100%

				input
					color #fff

					&::-webkit-input-placeholder
						color #fff

				button
					background-image url("../svg/search_loupe_white.svg")
					left 0
					right 2px
					transform translateX(223px)

		.mobile-menu-information
			display block
			position relative

			&:before
				content ""
				position absolute
				top -10px
				left -35px
				width 25px
				height 33px

				background-image url("../svg/docs.svg")
				background-repeat no-repeat
				background-size contain

				transition transform 0.3s $transitionAnimation

		.mobile-menu-version
			display block
			position relative

			&:before
				content ""
				position absolute
				top -2px
				left -50px
				width 35px
				height 20px

				background-image url("../svg/eyes.svg")
				background-repeat no-repeat
				background-size contain

				transition transform 0.3s $transitionAnimation

	.mobile-logo-title
		margin-bottom 30px

		padding 30px 20px
		box-sizing border-box

		border-bottom 1px solid $colorgray

		text-align center
		span
			font-size 30px
			font-family ProximaNovaBold

	.header-menu-holder
		padding-left 60px
		box-sizing border-box

	.header-menu-inner
		flex-flow column

		.header-menu-item-holder
			margin-bottom 10px

		.header-menu-item
			color #009d3c
			font-size 20px


.mobile-menu
	&.active-block
		display block
		overflow-y auto

		.mobile-menu-container
			display block

		.mobile-menu-close
			display block


	&.active-show

		.mobile-menu-background
			transform scale(100)
			right 0
			top 0
			bottom 0
			transition-delay 0s

		.mobile-menu-container
			transform translateY(0)
			opacity 1

			transition-delay 0.3s

		.mobile-menu-close
			opacity 1

/* //mobile menu */

.header-info-holder
	.header-mobile
		display block
		width 100%
		font-size 20px
		margin-top 28px
		margin-bottom 13px
	span
		display block
		font-size 12px
		cursor pointer

.header-burger-holder
	.header-burger
		position absolute
		top 50%
		display block
		width 100%
		height 2px
		background $colorgreen
		transform translateY(-50%)
		transition width 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&:before
	&:after
		content ""
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 2px
		background $colorgreen
		transition transform 0.3s $transitionAnimation
		transition-duration 0.6s

	&:after
		top initial
		bottom 0
		transition-duration 0.8s

	&.active
		transform rotate(-90deg)

		.header-burger
			width 0
			opacity 0
		&:before
			transform rotate(-45deg) translate(-5px,11px)
		&:after
			transform rotate(45deg) translate(-5px,-11px)


.page-footer
	display block
	width 100%
	max-width 1300px

	margin 0 auto

	padding-top 85px
	padding-bottom 110px
	box-sizing border-box

.page-footer
	.page-inner
		display flex

.page-footer
	.footer-license
		display block
		width 735px
		margin-right 160px

.footer-license
	p
		display block
		width 100%
		margin-bottom 10px
	a
		margin-top 30px
		display block

.footer-creators
	min-width 165px

	.footer-creators-title
	.footer-creators-name
		display inline-block
		vertical-align top


/*** //main style ***/


/*** page style ***/

.main-slider
	position relative
	width: 100%
	height 580px
	margin-top -95px
	background #fafafa
	overflow hidden

.main-slider-items
	.main-slider-item
		background #fafafa

.main-slider-item
	position relative

.main-slider-info-container
	position absolute
	top 87px
	left 50%

	width 100%
	max-width 660px

	padding 0 60px 0 120px
	box-sizing border-box

	transform translateX(-99%)

	z-index 1000

	pointer-events none

	.main-slider-item-info
		display none
		width 660px
		opacity 0
		transform translateY(-30px)
		transition opacity 0.6s $transitionAnimation, transform 0.6s $transitionAnimation

		&.active
			display block

		&.active-animation
			opacity 1
			transform translateY(0)

	.main-slider-item-title
		display block
		font-size 54px
		font-family ProximaNovabold

		line-height 60px

	.main-slider-item-subtitle
		position relative
		display block
		width 460px
		margin-top 40px

		font-size 22px
		font-family ProximaNovaRegular

		line-height 30px
		z-index 100

.main-slider
	.main-slider-item-img
		position relative
		top 0
		bottom 0
		right 0

		.main-slider-item-img-container
			position absolute
			top 0
			right 0
			bottom 0
			width 1000px
			box-shadow inset 20em 0px 200px -100px #fafafa

			background-position-y bottom
			background-position-x right
			background-repeat no-repeat
			background-size contain

	.main-slider-item-img:before
		content ""
		display block
		padding-top 582px

.slick-arrow-block
	position absolute
	top 395px
	width 1300px
	left 50%
	transform translateX(-50%)

.slick-arrow-container
	position absolute
	left 120px

	display flex
	justify-content space-between
	align-items content ''
	width 190px

	transition opacity 0.2s $transitionAnimation

	.slick-arrow-prev
	.slick-arrow-next
		position relative
		width 50%
		margin-top 2.5px
		cursor pointer
	.slick-arrow-prev:before
		content ""
		position absolute
		left 0
		width 0
		height 0
		border-top 5px solid transparent
		border-bottom 5px solid transparent
		border-right 5px solid $colorgreen
	.slick-arrow-next:after
		content ""
		position absolute
		right 0
		width 0
		height 0
		border-top 5px solid transparent
		border-bottom 5px solid transparent
		border-left 5px solid $colorgreen

	&.hide
		opacity 0

.slick-slider
	cursor pointer

.intro
	display flex
	margin-bottom 140px

.intro-personal
	width 295px

	.intro-personal-photo
		width 100%
		margin-bottom 30px

		img
			display block
			min-width 100%

	.intro-personal-data
		display block
		padding 0 17px
		box-sizing border-box

		color #1d1d1d
		font-size 18px

		.data-name
			display block
			margin-bottom 10px

			font-size 18px
			font-weight 600

		.data-prof
			display block
			font-size 17px
			font-family ProximaNovaLight

.intro-info
	display block
	padding-left 70px
	margin-top 95px
	box-sizing border-box

	font-size 28px
	color $colorgreen

	line-height 45px


.clinics
	display flex

.clinics-info
	width 50%
	padding-left 60px
	padding-right 55px
	box-sizing border-box
	margin-top 65px

.clinics-container
	width 50%

	img
		width 100%

.info
	.tag
		margin-bottom 20px

		font-size 14px
		text-transform uppercase
		letter-spacing 2px

		color #9B9A9B

	.title
		margin-bottom 20px

		font-size 34px
		font-weight 700

		line-height 38px

	.description
		font-size 18px
		color #404040

		line-height 28px


.services
	display flex
	width 100%
	height 810px

	margin-top 190px

	.services-circle
		position relative
		width 50%
		background $colorgrayfone
		overflow hidden

	.services-slider
		width 50%

		.slick-arrow-container
			top 265px
			left 80px

.services-container
	position absolute
	top 50%

	width 700px
	height 700px

	border 2px solid #009d3c
	border-radius 50%
	box-sizing border-box
	margin-left 40%

	transform translateY(-50%)

	.services-item
		position absolute
		width 100px
		height 100px

		border-radius: 50%;

		background $colorgrayfone

		transition left 0.6s $transitionAnimation, top 0.6s $transitionAnimation, background 0.6s $transitionAnimation

		svg
			position absolute
			top 50%
			left 50%

			transform translate(-50%, -50%)

		&.active
			background $colorgreen

			svg
				path
					fill #fff


.services-slider
	position relative
	margin-top 245px
	padding-left 80px
	box-sizing border-box

.services-slider-item
	transition: opacity 0.6s $transitionAnimation
	opacity: 0

	&.slick-active
		opacity: 1

	.info-link
		width 385px
		margin-top 40px

		line-height 34px
		font-size 17px
		color $colordark

		.link
			border-bottom 1px solid transparent
			transition border-bottom-color 0.6s $transitionAnimation

			&:hover
				border-bottom-color $colordark

.advantages-mini
	display flex
	width 100%
	height 790px

.advantages-slider
	position relative
	width 50%
	height 520px
	padding-left 60px
	box-sizing border-box
	margin-top 177px

	.slick-arrow-container
		left 60px
		top auto
		bottom 0

	.info
		.title
			width 100%
			padding-right 100px
			box-sizing border-box
			font-size 48px
			line-height 70px

		.description
			padding-right 85px
			box-sizing border-box

.advantages-photo-container
	width 50%

.advantages-photo
	display none
	width 100%
	grid-template-columns 1fr 1fr
	transform translateY(-50px)
	opacity 0
	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	img
		display block
		width 100%

	&.active
		display grid

	&.active-animation
		transform translateY(0px)
		opacity 1

	&--one
		display none

		&.active
			display flex
			height 100%

			align-items center
			justify-content center

		&.active-animation
			transform translateY(0px)
			opacity 1

.mini-news
	display grid
	grid-template-columns 1fr 1fr 1fr 1fr
	align-items center

	width 100%
	height 545px

	padding 0 60px
	box-sizing border-box

	background $colorgrayfone

.news-item
	position relative
	min-height 345px
	padding-right 30px
	box-sizing border-box
	color $colordark

	transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation
	transform translateY(0)
	overflow hidden

	&.load-events-item
		opacity 0
		transform translateY(100px)

	&:after
		content ""
		position absolute
		right -25px
		top -25px
		width 50px
		height 50px
		background $colorgrayfone

		opacity 0
		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

	&:hover
		&:after
			opacity 1
			transform translate3d(-55px,25px,0)

	.news-arrow
		content ""
		position absolute
		bottom 7px
		left 0
		width 50px
		height 10px

		background-image url("../svg/arrow_left_green.svg")
		background-repeat no-repeat
		background-size contain

	.news-date
		margin-bottom 17px
		line-height 26px
		font-size 14px
		letter-spacing 1px
		text-transform uppercase

	.news-title
		margin-bottom 22px
		font-size 16px
		font-family ProximaNovabold
		line-height 26px

	.news-text
		height 185px
		line-height 27px
		overflow hidden

.map-block
	margin-top 175px

	.tag
		padding-left 60px
		box-sizing border-box

	.title
		padding-left 60px
		box-sizing border-box
		font-size 48px
		font-family ProximaNovabold


.map-container
	position relative
	width 100%
	height 592px
	margin-top 60px

	.map
		position relative
		width 100%
		height 100%




.services-page
	width 100%
	padding 0 105px 200px 105px
	box-sizing border-box

.services-title
	margin-bottom 150px

	text-align center
	font-family ProximaNovaLight
	font-size 36px

	color #4A494A

.services-blocks
	display grid
	grid-gap 90px 0
	grid-template-columns 1fr 1fr 1fr

.services-block
	max-width 400px
	.services-block-img
		width 62px
		height 85px
		margin-left 52px
		box-sizing border-box
		margin-bottom 35px

		img
			display block
			height 100%

	.services-block-title
		display block
		max-width 370px
		margin-bottom 30px
		font-size 36px

		color $colorgreen

	.services-block-list
		margin-left -10px
		ul
			list-style disc

			li
				margin-bottom 30px
				padding-left 10px
				box-sizing border-box

		.services-block-item
			line-height 40px

			font-size 22px
			font-family ProximaNovaLight

			color $colordark

			text-decoration none


/* main block in all page */
.page-text
	font-size 18px
	line-height 30px
	color #404040

	figure
		display block
		width 100%

		img
			display block
			width 100%
			min-width 100%

	figcaption
		display block
		padding-left 5px
		margin-top 10px
		font-size 14px
		color #000

	tag
		display block
		margin-bottom 20px

		font-size 14px
		text-transform uppercase
		letter-spacing 2px
		line-height 1
		color #9B9A9B

	h1
		margin-bottom 35px

		font-family ProximaNovaBold
		font-size 54px

		line-height 1

	h2
		max-width 775px
		margin-bottom 95px

		line-height 43px
		font-size 28px

	h3
		margin-bottom 40px
		font-family ProximaNovaBold
		font-size 34px
		color #000

	p
		font-size 18px
		line-height 28px
		color #404040

	ul
		margin-left 20px
		list-style disc

		li
			padding-left 5px
			box-sizing border-box

	i
		font-style italic

	ol
		display block
		counter-reset olList

		li
			position relative
			margin-bottom 50px

			&:before
				content ""
				counter-increment olList
				content counter(olList)
				position absolute
				top 15px
				left -75px
				font-family ProximaNovaLight
				font-size 60px
				color $colorgreen

			.page-numbered-list-subtitle
				margin-bottom 7px
				font-family  ProximaNovaBold
				font-size 20px

	date
		display block
		text-transform uppercase
		font-size 12px
		letter-spacing 2px
		line-height 1

.page-information
	padding-left 60px
	box-sizing border-box

	.page-text
		color #000

.load
	position relative
	width 100%
	height 75px
	text-align center

	a
		position absolute

		left 50%
		margin-left -25px

		display block
		width 45px
		height 45px

		cursor pointer

		transition transform 0.3s $transitionAnimation

		&:hover
			transform rotate(360deg)

		&:before
			content ""
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background-image url(../svg/circle-arrow.svg)
			background-repeat no-repeat
			background-size cover


/* //main block in all page */

.services-section
	.page-text
		h2
			margin-bottom 60px

.services-section-description
	display flex
	flex-wrap wrap
	min-height 375px
	background-color $colorgrayfone


	.description-list
		width 50%
		padding 50px 50px 10px 90px
		box-sizing border-box

		ul
			margin-left 0
			list-style disc

			a
				line-height 45px

				font-size 22px


	.description-img
		position relative
		width 50%
		overflow hidden

		img
			position absolute
			top 0
			left 0

			display block
			width 100%
			height 100%

			object-fit cover

			transition: transform 0.3s $transitionAnimation
			will-change transform

		&:hover
			img
				transform scale(1.1)


.services-element
	.page-text
		h2
			margin-bottom 55px


.services-element-inner
	display grid
	grid-template-columns minmax(100px, 295px) 1fr

.services-element-preview
	figure
		margin-bottom 45px

		img
			display block
			width 100%

	figcaption
		padding-right 35px
		padding-left 0

		box-sizing border-box

		line-height 28px

		font-size 16px
		color $colordark

.services-element-information
	padding-top 40px
	padding-bottom 220px
	box-sizing border-box

	.services-element-information-item
		max-width 650px
		margin-bottom 80px
		padding-left 85px
		box-sizing border-box

	.services-element-information-background
		margin-bottom 95px
		padding 45px 30px 50px 0
		box-sizing border-box
		background #f2f6f4

		.services-element-information-item
			margin-bottom 0

	.services-element-price
		display grid
		margin-top -10px
		grid-template-columns 1fr 120px
		grid-gap 22px 0

		.price-services
			justify-self start
			font-size 16px
			color $colordark

		.price
			font-size 18px
			justify-self end
			font-weight 600

	a
		max-width 590px
		padding-top 32px
		padding-bottom 25px

		font-size 20px
		text-transform uppercase

		letter-spacing 4px


.news
	.page-tag
		margin-bottom 15px

	.news-items
		display: grid
		grid-template-columns 1fr 1fr 1fr 1fr
		grid-gap 130px 0
		align-items center
		width 100%
		margin-top 110px
		margin-bottom 100px
		box-sizing border-box

	.news-item
		.news-title
			font-size 18px


.news-detail
	.page-text
		tag
			margin-bottom 15px

		h1
			max-width 645px

			font-size 34px
			line-height 40px
			color $colordark

		date
			color $colordark

	.news-detail-text
		margin-top 86px
		max-width 785px

		padding-left 60px
		box-sizing border-box

		color $colordark
		line-height 27px

		font-size 18px

		p
			color $colordark
			margin-bottom 20px

	.news-detail-full
		display flex
		margin-top 40px

		.news-detail-slider
			position relative
			display block
			max-height 395px
			width 50%

			.slick-arrow-container
				width 188px
				left 50%
				margin-left -95px
				bottom -65px

		.news-detail-text
			margin 0
			padding 35px 30px 0 58px


.reviews
	position relative

	.reviews-add
		position absolute
		right 0
		top 7px

		padding 14px 42px
		font-size 18px
		letter-spacing 3px
		text-transform uppercase

		&:before
			height 300px
			width 300px
		&:hover
			&:before
				transform rotate(45deg) translateX(-30%) translateY(-20%)


	.reviews-items
		display grid
		grid-template-columns 1fr 1fr
		margin-top 50px

	.load
		margin-top 28px


.reviews-item
	position relative
	display block
	min-height 330px
	padding 60px 30px 50px 30px
	box-sizing border-box

	color $colordark

	transform translateY(0px)

	transition background 0.3s $transitionAnimation, transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.load-events-item
		opacity 0
		transform translateY(50px)

	.reviews-date
		margin-bottom 27px
		font-size 12px
		text-transform uppercase

		letter-spacing 2px

	.reviews-name
		margin-bottom 20px
		font-size 18px
		font-family ProximaNovaBold

	.reviews-text
		max-height 115px
		overflow hidden
		line-height 30px

	&:after
		content ""
		position absolute
		display block
		width 50px
		height 10px
		bottom 40px
		left 30px
		background-image url("../svg/arrow_left_green.svg")
		background-repeat no-repeat
		background-size cover

	&:hover
		background $colorgrayfone

.clinic
.contacts
	h1
		font-size 54px
		margin-bottom 35px

	h2
		margin-bottom 0

	.page-information
		margin-bottom 50px

.clinic-inner
	display block
	margin-bottom 70px

	&--photo
		display flex
		margin-bottom 48px

	.clinic-container
		width 50%

	.clinic-text
		padding-left 325px
		box-sizing border-box

		.clinic-name
			display block
			margin-bottom 25px
			font-size 34px
			font-family ProximaNovabold
			line-height 60px

		.clinic-info
			font-size 18px
			color $colordark
			line-height 27px

			p
				margin-bottom 20px
				font-size 18px
				color $colordark
				line-height 28px

				&:last-child
					margin-bottom 0

.contacts
	.map-block
		margin-top 0

.contacts-container
	display grid
	grid-template-columns 1fr 1fr

	.contacts-container-items>span
		display block
		margin-bottom 40px
		font-size 35px
		font-family ProximaNovaBold

	.contacts-container-items
		padding 50px 0px 0px 60px

	 .contacts-container-items>div
		display flex
		margin-bottom 20px
		max-width 375px
		justify-content baseline
		align-items center

		span
			display block
			width 110px
			text-transform uppercase
			font-size 14px
			letter-spacing 1.5px
		a
			font-size 20px

	.contacts-container-items>.contacts-time
		display grid
		grid-gap 20px 0
		grid-template-columns 115px 1fr

		span.time
			width 100%
			font-family ProximaNovaBold
			font-size 16px

	.button
		margin-top 40px
		padding 13px 38px
		font-size 16px
		font-family ProximaNovaBold


.advantages
	margin-top -5px
	margin-bottom 105px

	h2
		margin-bottom 75px

.advantages-inner
	display flex
	margin-bottom 50px

	.advantages-container
		display block
		width 50%

		&--text
			padding 30px 75px 35px 40px
			box-sizing border-box

			.advantages-title
				line-height 40px
				margin-bottom 28px

			ul
				li
					padding-left 8px
					margin-bottom 17px


			p
				margin-bottom 20px

.accordion
	display block
	width 100%

	.accordion-item
		display block
		width 100%
		height 100px
		overflow hidden
		transition background 0.3s $transitionAnimation, height 0.3s $transitionAnimation

		&:hover
			background #f7fafa

		&.active
			height auto
			background #f7fafa

			.accordion-content
				display block

			.accordion-header
				.accordion-arrow
					&:before
						width 0
						height 0
						margin-left 3px
						border-left 5px solid transparent
						border-right 5px solid transparent
						border-bottom 5px solid $colorgreen
						background transparent

					&:after
						width 100%
						height 1px
						background $colorgreen
						border none
						margin-left 0



		&.show-content
			.accordion-content
				transform translateY(0px)
				opacity 1

	.accordion-header
		position relative
		cursor pointer

		.accordion-text
			display block
			padding 33px 0 33px 60px
			box-sizing border-box

			text-align left

			font-family ProximaNovaBold
			font-size 34px

		.accordion-arrow
			position absolute
			right 33px
			top 50%
			margin-top -15px
			display block
			width 15px
			height 30px

			&:before
				content ""
				position absolute
				top 0
				display block
				width 100%
				height 1px
				background $colorgreen
				transition border 0.3s $transitionAnimation, height 0.3s $transitionAnimation

			&:after
				content ""
				position absolute
				bottom 0
				display block
				width 0
				height 0
				margin-left 3px
				border-left 5px solid transparent
				border-right 5px solid transparent
				border-top 5px solid $colorgreen
				transition border 0.3s $transitionAnimation, height 0.3s $transitionAnimation


	.accordion-content
		display none
		padding 30px 30px 35px 60px
		box-sizing border-box
		opacity 0
		transform translateY(-50px)
		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		color $colordark

		.accordion-content-title
			margin-bottom 22px
			padding-bottom 18px
			box-sizing border-box
			border-bottom 1px solid #c6c7c7

			font-size 24px
			font-weight 600

			color #000


		.accordion-content-service
			display flex
			margin-bottom 37px
			justify-content space-between
			padding 0 100px 0 40px
			box-sizing border-box

			.service-price
				font-size 20px
				font-weight 600

.price
	.page-information
		h2
			margin-bottom 30px
		p
			display block
			margin-bottom 10px

			font-size 18px
			color $colordark

	.accordion
		margin-top 75px

.doctors
	.page-info
		margin-bottom 50px

.doctors-filter
	display block
	margin-bottom 55px
	padding-left 60px
	box-sizing border-box

	.doctors-filter-item
		display inline-block
		margin-right 20px

		vertical-align middle
		font-size 16px

		cursor pointer

		transition opacity 0.3s $transitionAnimation

		&:hover
			opacity 0.6

		&.active
			font-family ProximaNovaBold
			color #128F2E

.doctors-items
	display flex

	.doctors-item
		display flex
		width 50%
		transform translateY(0px)
		opacity 1
		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		.doctors-item-img
			display block
			width 50%

			img
				display block
				width 100%

		.doctors-item-text
			padding 33px 0 0 27px
			box-sizing: border-box

			.doctors-item-name
				width 200px
				margin-bottom 5px

				line-height 35px
				font-weight 600
				font-size 24px

			.doctors-item-position
				width 215px
				line-height 27px

		&.hide
			opacity 0
			transform translateY(50px)

		&.hide-block
			display none


.doctor-detail
	.page-information
		margin-top -30px

.doctor-detail-inner
	display grid
	grid-template-columns 1fr 3fr

	.doctor-detail-container
		figure
			width 100%
			margin-bottom 50px

		figcaption
			padding-left 0
			display block
			line-height 28px

			font-size 16px

	.doctor-detail-info
		padding 35px 50px 30px 50px
		box-sizing border-box

		.page-title
			margin-bottom 30px

		ul
			margin-left 30px
			margin-bottom 65px

			li
				margin-bottom 15px

		.doctor-detail-info-left
			margin-top 95px
			margin-left -12px

		.certificate-container
			display grid
			grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr

			grid-gap 40px 25px

			align-items center

			width 105%
			margin-left -13px

			.certificate-img
				display block

				img
					display block
					width 100%

		.doctor-detail-timetable
			margin-left -12px
			max-width 225px

			.doctor-detail-timetable-item
				display flex
				justify-content space-between
				margin-bottom 20px

				.timetable-week
					font-size 13px
					letter-spacing 2px
					text-transform uppercase
					color #696969

				.timetable-time
					font-weight 600
					color $colordark

		.doctor-enroll
			max-width 588px
			width 100%

			margin-top 75px
			margin-left -50px
			padding 30px 0 25px 0

			font-size 20px
			letter-spacing 4px
			text-transform uppercase

			&:before
				transform scale(8) rotate(45deg) translateX(-120px) translateY(120px)

			&:hover
				&:before
					transform scale(8) rotate(45deg) translateX(0) translateY(0)
/*** //page style ***/
