@media screen and (min-width: 1024px)
	.page-inner
		min-width 1024px

@media screen and (max-width: 1024px)
	.main-slider-info-container
	.slick-arrow-block
		left 20px
		transform translate(0)

	.main-slider-info-container
		padding 0 0 0 40px

	.slick-arrow-block
		.slick-arrow-container
			left 40px
