.icon-favicon-before:before
.icon-favicon-after:after
	content ''

.icon-favicon-before:before
.icon-favicon-after:after
.icon-favicon-inner
	vertical-align middle

	display inline-block
	width 58px
	height 67px

	background url(../i/sprite.png) no-repeat 0px -363px

.transition-icon-item.icon-favicon-inner
	margin-left -(58px / 2)
	margin-top -(67px / 2)
.icon-logo-before:before
.icon-logo-after:after
	content ''

.icon-logo-before:before
.icon-logo-after:after
.icon-logo-inner
	vertical-align middle

	display inline-block
	width 645px
	height 343px

	background url(../i/sprite.png) no-repeat 0px 0px

.transition-icon-item.icon-logo-inner
	margin-left -(645px / 2)
	margin-top -(343px / 2)
