.icon-logo-before:before
.icon-logo-after:after
	content ''

.icon-logo-before:before
.icon-logo-after:after
.icon-logo-inner
	vertical-align middle

	display inline-block
	width 156px
	height 83px

	background url(../i/sprite.png) no-repeat 0px 0px

.transition-icon-item.icon-logo-inner
	margin-left -(156px / 2)
	margin-top -(83px / 2)
